@model OneposStamps.Models.GetZipCodeData

@{
    int i = 0;
    ViewBag.Title = "AddZipCodes";
}

<div class="row collzips">
    <div class="col-md-5">
        <div class="d-flex mb-2">
            <h5 class="font-weight-bold m-0">Search Results</h5>
            <a href="#" class="btn btn-primary table-btn ml-auto">Select All</a>
        </div>
        <div class="card" style="height: 575px;overflow-y: scroll;">
            <div class="card-body">
                <div class="accordion" id="divSearchResult">

                    @foreach (var item in Model.GroupbyZipCodeList)
                    {
                        string headerid = "heading" + i;
                        string collapseid = "collapse" + i;
                        if (i == 0)
                        {
                            <div class="card border mb-1 shadow-none">
                                <div class="card-header" id="@headerid">
                                    <a href="" data-name="aCityNameAdd" class="text-dark" data-toggle="collapse" data-target="#@collapseid" aria-expanded="true" aria-controls="collapseOne">
                                        @item.Select(x => x.Name).FirstOrDefault()
                                    </a>
                                    <button name="btnAdd" class="btn btn-primary table-btn ml-auto">Add</button>
                                </div>

                                <div id="@collapseid" class="collapse show" aria-labelledby="@headerid" data-parent="#divSearchResult">
                                    <div class="card-body">
                                        <ul class="list-unstyled ziplist">
                                            @foreach (var zip in item)
                                            {
                                                <li class="d-flex" data-name="liZipcodeAdd">@zip.Zipcode <span name="span_ZipcodeAdd" class="ml-auto fa fa-plus text-primary"></span></li>
                                            }

                                        </ul>
                                    </div>
                                </div>

                            </div>
                            i++;
                        }
                        else
                        {
                            <div class="card mb-1 border shadow-none">
                                <div class="card-header" id="@headerid">
                                    <a href="" data-name="aCityNameAdd" class="collapsed text-dark" data-toggle="collapse" data-target="#@collapseid" aria-expanded="false" aria-controls="collapseTwo">
                                        @item.Select(x => x.Name).FirstOrDefault()
                                    </a>
                                    <button class="btn btn-primary table-btn ml-auto">Add</button>
                                </div>
                                <div id="@collapseid" class="collapse" aria-labelledby="@headerid" data-parent="#divSearchResult">
                                    <div class="card-body">
                                        <ul class="list-unstyled ziplist">
                                            @foreach (var zip in item)
                                            {
                                                <li class="d-flex" data-name="liZipcodeAdd">@zip.Zipcode <span name="span_ZipcodeAdd" class="ml-auto fa fa-plus text-primary"></span></li>
                                            }

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            i++;
                        }

                    }

                    <span style="display:none">@i = 0</span>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 text-center align-self-center">
        <i class="fas fa-arrows-alt-h fa-3x"></i>
    </div>
    <div class="col-md-5">
        <div class="d-flex mb-2">
            <h5 class="font-weight-bold m-0">Added Zip Codes</h5>
            <a href="#" class="btn btn-danger table-btn ml-auto">Delete All</a>
        </div>
        <div class="card" style="height: 575px;overflow-y: scroll;">
            <div class="card-body">
                <div class="accordion" id="addedZipcodes">
                    @*<div class="card border mb-1 shadow-none">
                        <div class="card-header" id="headingOnes">
                            <a href="" class="text-dark" data-toggle="collapse" data-target="#collapseOnes" aria-expanded="true" aria-controls="collapseOne">
                                Acampo
                            </a>
                            <button class="btn btn-danger table-btn ml-auto">Delete</button>
                        </div>
                        <div id="collapseOnes" class="collapse show" aria-labelledby="headingOnes" data-parent="#addedZipcodes">
                            <div class="card-body">
                                <ul class="list-unstyled ziplist">
                                    <li class="d-flex">25632 <span class="ml-auto fa fa-minus text-danger"></span></li>
                                    <li class="d-flex">25656 <span class="ml-auto fa fa-minus text-danger"></span></li>
                                    <li class="d-flex">25648 <span class="ml-auto fa fa-minus text-danger"></span></li>
                                    <li class="d-flex">25645 <span class="ml-auto fa fa-minus text-danger"></span></li>
                                    <li class="d-flex">25698 <span class="ml-auto fa fa-minus text-danger"></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-1 border shadow-none">
                        <div class="card-header" id="headingTwos">
                            <a href="" class="collapsed text-dark" data-toggle="collapse" data-target="#collapseTwos" aria-expanded="false" aria-controls="collapseTwos">
                                Acton
                            </a>
                            <button class="btn btn-danger table-btn ml-auto">Delete</button>
                        </div>
                        <div id="collapseTwos" class="collapse" aria-labelledby="headingTwo" data-parent="#addedZipcodes">
                            <div class="card-body">
                                <ul class="list-unstyled ziplist">
                                    <li class="d-flex">25698 <span class="ml-auto fa fa-minus text-danger"></span></li>
                                    <li class="d-flex">25698 <span class="ml-auto fa fa-minus text-danger"></span></li>
                                    <li class="d-flex">25698 <span class="ml-auto fa fa-minus text-danger"></span></li>
                                    <li class="d-flex">25698 <span class="ml-auto fa fa-minus text-danger"></span></li>
                                    <li class="d-flex">25698 <span class="ml-auto fa fa-minus text-danger"></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-1 border shadow-none">
                        <div class="card-header" id="headingThrees">
                            <a href="" class="collapsed text-dark" data-toggle="collapse" data-target="#collapseThrees" aria-expanded="false" aria-controls="collapseThrees">
                                Adelanto
                            </a>
                            <button class="btn btn-danger table-btn ml-auto">Delete</button>
                        </div>
                        <div id="collapseThrees" class="collapse" aria-labelledby="headingThree" data-parent="#addedZipcodes">
                            <div class="card-body">
                                <ul class="list-unstyled ziplist">
                                    <li class="d-flex">25698 <span class="ml-auto fa fa-minus text-danger"></span></li>
                                    <li class="d-flex">25698 <span class="ml-auto fa fa-minus text-danger"></span></li>
                                    <li class="d-flex">25698 <span class="ml-auto fa fa-minus text-danger"></span></li>
                                    <li class="d-flex">25698 <span class="ml-auto fa fa-minus text-danger"></span></li>
                                    <li class="d-flex">25698 <span class="ml-auto fa fa-minus text-danger"></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    // --------- to create li with multiple zipcodes -----------
    //var ar = new Array("a", "b", "c", "d", "e", "f");

    //var list = "";
    //for (var i = 0; i < ar.length; i++) {
    //    list += '<li><span>' + ar[i] + '</span></li>';
    //}


    $('span').on('click', function () {
        debugger
        if ($(this).attr('name') == 'span_ZipcodeAdd') {
            var cityname = $(this).closest('li').parent().parent().parent().parent().find('[data-name="aCityNameAdd"]')[0].innerText;
            var zipcode = $(this).closest('li')[0].innerText;

            var divAddedZipCode = $('#addedZipcodes').find('.card-header');

            if (divAddedZipCode.length > 0) {
                var checkExists = 0;
                for (var i = 0; i < divAddedZipCode.length; i++) {
                    if (divAddedZipCode[i].children[0].innerText == cityname) {


                        for (var j = 0; j < divAddedZipCode.length; j++) {
                            if (divAddedZipCode[j].children[0].ariaExpanded == "true") {
                                divAddedZipCode[j].children[0].ariaExpanded = false;
                                divAddedZipCode[j].children[0].className = 'text-dark collapsed';
                                divAddedZipCode[j].nextElementSibling.className = 'collapse';
                                break;
                            }
                        }

                        var appendStringLi = $('<li class="d-flex"><span class="ml-auto fa fa-minus text-danger"></span></li>');
                        appendStringLi.html(zipcode + '<span class="ml-auto fa fa-minus text-danger"></span>');

                        divAddedZipCode[i].nextElementSibling.children[0].children[0].append(appendStringLi[0]);
                        $(this).closest('li').remove();

                        divAddedZipCode[i].children[0].ariaExpanded = true;
                        divAddedZipCode[i].children[0].className = 'text-dark';
                        divAddedZipCode[i].nextElementSibling.className = 'collapse show';

                        checkExists = 1;
                        break;
                    }
                }
                if (checkExists == 0) {
                    // to create a new card
                    var idcount = divAddedZipCode.length;
                    var headerid = 'Aheading' + idcount;
                    var collapseid = 'Acollapse' + idcount;

                    for (var i = 0; i < divAddedZipCode.length; i++) {
                        if (divAddedZipCode[i].children[0].ariaExpanded == "true") {
                            divAddedZipCode[i].children[0].ariaExpanded = false;
                            divAddedZipCode[i].children[0].className = 'text-dark collapsed';
                            divAddedZipCode[i].nextElementSibling.className = 'collapse';
                            break;
                        }
                    }

                    var appendStringMainDiv = $('<div class="card mb-1 border shadow-none"></div>');
                    var appendStringChildDiv = $('<div class="card-header" id="' + headerid + '"><a href = "" class= "text-dark" data-toggle="collapse" ' +
                        ' data-target="#'+collapseid+'" aria-expanded="true" aria-controls="'+collapseid+'" >' + cityname + '</a> ' +
                        ' <button class="btn btn-danger table-btn ml-auto">Delete</button></div>');
                    appendStringMainDiv.html(appendStringChildDiv);

                    var appendStringSecondChildDiv = $('<div id = "' + collapseid + '" class= "collapse show" aria-labelledby="' + headerid + '" ' +
                        ' data-parent="#addedZipcodes" > <div class="card-body"> <ul class="list-unstyled ziplist"> ' +
                        ' <li class="d-flex"> ' + zipcode + ' <span class="ml-auto fa fa-minus text-danger"></span></li></ul></div></div>')
                    appendStringMainDiv.append(appendStringSecondChildDiv);

                    $("#addedZipcodes").append(appendStringMainDiv);

                    $(this).closest('li').remove();
                }
            }
            else {

                var idcount = divAddedZipCode.length;
                var headerid = 'Aheading' + idcount;
                var collapseid = 'Acollapse' + idcount;

                for (var i = 0; i < divAddedZipCode.length; i++) {
                    if (divAddedZipCode[i].children[0].ariaExpanded == "true") {
                        divAddedZipCode[i].children[0].ariaExpanded = false;
                        divAddedZipCode[i].children[0].className = 'text-dark collapsed';
                        divAddedZipCode[i].nextElementSibling.className = 'collapse';
                        break;
                    }
                }

                var appendStringMainDiv = $('<div class="card mb-1 border shadow-none"></div>');
                var appendStringChildDiv = $('<div class="card-header" id="' + headerid + '"><a href = "" class= "text-dark" data-toggle="collapse" ' +
                    ' data-target="#' + collapseid + '" aria-expanded="true" aria-controls="' + collapseid + '" >' + cityname + '</a> ' +
                    ' <button class="btn btn-danger table-btn ml-auto">Delete</button></div>');
                appendStringMainDiv.html(appendStringChildDiv);

                var appendStringSecondChildDiv = $('<div id = "' + collapseid + '" class= "collapse show" aria-labelledby="' + headerid + '" ' +
                    ' data-parent="#addedZipcodes" > <div class="card-body"> <ul class="list-unstyled ziplist"> ' +
                    ' <li class="d-flex"> ' + zipcode + ' <span class="ml-auto fa fa-minus text-danger"></span></li></ul></div></div>')
                appendStringMainDiv.append(appendStringSecondChildDiv);

                $("#addedZipcodes").append(appendStringMainDiv);

                $(this).closest('li').remove();

            }

        }
    })

    $('button').on('click', function () {
        debugger
        if ($(this).attr('name') == 'btnAdd') {

            var cityname = $(this).closest('li').parent().parent().parent().parent().find('[data-name="aCityNameAdd"]')[0].innerText;
            var zipcode = $(this).closest('li')[0].innerText;

            var divAddedZipCode = $('#addedZipcodes').find('.card-header');

            if (divAddedZipCode.length > 0) {
                var checkExists = 0;
                for (var i = 0; i < divAddedZipCode.length; i++) {
                    if (divAddedZipCode[i].children[0].innerText == cityname) {


                        for (var j = 0; j < divAddedZipCode.length; j++) {
                            if (divAddedZipCode[j].children[0].ariaExpanded == "true") {
                                divAddedZipCode[j].children[0].ariaExpanded = false;
                                divAddedZipCode[j].children[0].className = 'text-dark collapsed';
                                divAddedZipCode[j].nextElementSibling.className = 'collapse';
                                break;
                            }
                        }

                        var appendStringLi = $('<li class="d-flex"><span class="ml-auto fa fa-minus text-danger"></span></li>');
                        appendStringLi.html(zipcode + '<span class="ml-auto fa fa-minus text-danger"></span>');

                        divAddedZipCode[i].nextElementSibling.children[0].children[0].append(appendStringLi[0]);
                        $(this).closest('li').remove();

                        divAddedZipCode[i].children[0].ariaExpanded = true;
                        divAddedZipCode[i].children[0].className = 'text-dark';
                        divAddedZipCode[i].nextElementSibling.className = 'collapse show';

                        checkExists = 1;
                        break;
                    }
                }
                if (checkExists == 0) {
                    // to create a new card
                    var idcount = divAddedZipCode.length;
                    var headerid = 'Aheading' + idcount;
                    var collapseid = 'Acollapse' + idcount;

                    for (var i = 0; i < divAddedZipCode.length; i++) {
                        if (divAddedZipCode[i].children[0].ariaExpanded == "true") {
                            divAddedZipCode[i].children[0].ariaExpanded = false;
                            divAddedZipCode[i].children[0].className = 'text-dark collapsed';
                            divAddedZipCode[i].nextElementSibling.className = 'collapse';
                            break;
                        }
                    }

                    var appendStringMainDiv = $('<div class="card mb-1 border shadow-none"></div>');
                    var appendStringChildDiv = $('<div class="card-header" id="' + headerid + '"><a href = "" class= "text-dark" data-toggle="collapse" ' +
                        ' data-target="#' + collapseid + '" aria-expanded="true" aria-controls="' + collapseid + '" >' + cityname + '</a> ' +
                        ' <button class="btn btn-danger table-btn ml-auto">Delete</button></div>');
                    appendStringMainDiv.html(appendStringChildDiv);

                    var appendStringSecondChildDiv = $('<div id = "' + collapseid + '" class= "collapse show" aria-labelledby="' + headerid + '" ' +
                        ' data-parent="#addedZipcodes" > <div class="card-body"> <ul class="list-unstyled ziplist"> ' +
                        ' <li class="d-flex"> ' + zipcode + ' <span class="ml-auto fa fa-minus text-danger"></span></li></ul></div></div>')
                    appendStringMainDiv.append(appendStringSecondChildDiv);

                    $("#addedZipcodes").append(appendStringMainDiv);

                    $(this).closest('li').remove();
                }
            }
            else {

                //var idcount = divAddedZipCode.length;
                //var headerid = 'Aheading' + idcount;
                //var collapseid = 'Acollapse' + idcount;

                //for (var i = 0; i < divAddedZipCode.length; i++) {
                //    if (divAddedZipCode[i].children[0].ariaExpanded == "true") {
                //        divAddedZipCode[i].children[0].ariaExpanded = false;
                //        divAddedZipCode[i].children[0].className = 'text-dark collapsed';
                //        divAddedZipCode[i].nextElementSibling.className = 'collapse';
                //        break;
                //    }
                //}

                //var appendStringMainDiv = $('<div class="card mb-1 border shadow-none"></div>');
                //var appendStringChildDiv = $('<div class="card-header" id="' + headerid + '"><a href = "" class= "text-dark" data-toggle="collapse" ' +
                //    ' data-target="#' + collapseid + '" aria-expanded="true" aria-controls="' + collapseid + '" >' + cityname + '</a> ' +
                //    ' <button class="btn btn-danger table-btn ml-auto">Delete</button></div>');
                //appendStringMainDiv.html(appendStringChildDiv);

                //var appendStringSecondChildDiv = $('<div id = "' + collapseid + '" class= "collapse show" aria-labelledby="' + headerid + '" ' +
                //    ' data-parent="#addedZipcodes" > <div class="card-body"> <ul class="list-unstyled ziplist"> ' +
                //    ' <li class="d-flex"> ' + zipcode + ' <span class="ml-auto fa fa-minus text-danger"></span></li></ul></div></div>')
                //appendStringMainDiv.append(appendStringSecondChildDiv);

                //$("#addedZipcodes").append(appendStringMainDiv);

                //$(this).closest('li').remove();

            }


        }
    });

</script>