@model OneposStamps.Models.CreateLabelRequest.CreateMultipleLabelRequest
@{ 
    ViewBag.Title = "InHouseLabels";
}
<body>
    <style>

        @@media print {
            @@page clsInhouseMultiple {
                size: 4.2in 5.8in;
                margin: 0in 0.1in 0in 0in;
            }
        }

        .clsInhouseMultiple {
            page: clsInhouseMultiple;
            page-break-after: always;
        }
    </style>
    @if (Model.createLabelRequest != null && Model.createLabelRequest.Count > 0)
    {
        foreach (var item in Model.createLabelRequest)
        {
            <table name="tblInhouseMultiple" class="clsInhouseMultiple" style=" border: 1px solid rgba(0,0,0,0.1); width: 500px;height:700px;margin-top:5px; max-width: 500px;">
                <tr>
                    <td style="vertical-align: top;" border-space="0" border-width="0" border-height="0">
                        <table style="width:100%">

                            <tr>
                                <td style="padding: 40px 8px 0px 8px; max-width: 270px;text-align: left;">
                                    <img src="data:image/png;base64,@Model.logoBase64String" alt="" style="margin-bottom: 5px; width:150px"> <br />
                                    <i style="font-size: 15px; font-family: Arial, Helvetica, sans-serif;">
                                        <span>@Model.createLabelRequest.FirstOrDefault().shipment.ship_from.address_line1</span>@(string.IsNullOrEmpty(Model.createLabelRequest.FirstOrDefault().shipment.ship_from.city_locality) ? null : ", ") <br>
                                        <span>@Model.createLabelRequest.FirstOrDefault().shipment.ship_from.city_locality</span>@(string.IsNullOrEmpty(Model.createLabelRequest.FirstOrDefault().shipment.ship_from.city_locality) ? null : " ")<span>@Model.createLabelRequest.FirstOrDefault().shipment.ship_from.state_province</span>@(string.IsNullOrEmpty(Model.createLabelRequest.FirstOrDefault().shipment.ship_from.postal_code) ? null : " ")<span>@Model.createLabelRequest.FirstOrDefault().shipment.ship_from.postal_code</span>
                                    </i>
                                </td>
                                <td style="text-align: right; font-family: Arial, Helvetica, sans-serif; padding: 8px;">
                                    <p style="font-size: 15px; font-weight: 700; font-family: Arial, Helvetica, sans-serif; margin-bottom: 0px;">Shipment Date</p>
                                    <p style="font-size: 22px; font-family: Arial, Helvetica, sans-serif; margin:0px">@Model.ShipmentDate</p>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2">
                                    <p style="height: 15px; margin-bottom: 0px;"></p><hr style="border-bottom: 1px solid rgba(0,0,0,0.2); margin: 0px;" />
                                </td>
                            </tr>

                            <tr>
                                <td style="padding: 7px 50px 8px 15px;text-align: center;" colspan="2">
                                    <p style="font-weight: 700;font-size: 20px;padding-top:0px;font-family: Arial, Helvetica, sans-serif;margin-bottom: 0px;">Order ID: <span>@item.OrderId</span></p>
                                </td>

                            </tr>

                            <tr>
                                <td colspan="2">
                                    <p style="/* height: 15px; */margin-bottom: 0px;"></p><hr style="border-bottom: 1px solid rgba(0,0,0,0.2); margin: 0px;">
                                </td>
                            </tr>

                            <tr style="border-bottom: 1px solid rgba(0,0,0,0.2); ">

                                <td style="border-bottom: 1px solid rgba(0,0,0,0.2); padding: 15px 50px 8px 15px;" colspan="2">
                                    <p style="font-weight: 700; font-size: 15px; padding-top:0px; font-family: Arial, Helvetica, sans-serif; margin-bottom: 0px;">Ship To:</p>
                                    <p style="font-size: 18px; line-height: 25px; font-family: Arial, Helvetica, sans-serif; margin: 5px 0px;">
                                        <span>@item.shipment.ship_to.name</span>
                                    </p>
                                    <p style="font-size: 18px; line-height: 25px; font-family: Arial, Helvetica, sans-serif; margin: 5px 0px;">
                                        <span>@item.shipment.ship_to.address_line1</span>@(string.IsNullOrEmpty(item.shipment.ship_to.city_locality) ? null : " ")
                                    </p>
                                    <p style="font-weight: 700; font-size: 20px; font-family: Arial, Helvetica, sans-serif;  margin: 5px 0px;">
                                        <span>@item.shipment.ship_to.city_locality</span>@(string.IsNullOrEmpty(item.shipment.ship_to.city_locality) ? null : " ")<span>@item.shipment.ship_to.state_province</span>@(string.IsNullOrEmpty(item.shipment.ship_to.postal_code) ? null : " ")<span>@item.shipment.ship_to.postal_code</span>
                                    </p>
                                </td>

                            </tr>

                            <tr>
                                <td colspan="2">
                                    <p style="padding-bottom: 5px; margin-bottom: 0px;"></p>
                                </td>

                            </tr>

                            <tr>
                                <td style="text-align: center;">
                                    <img src="@item.barcodeBase64String" alt="barcode" style="padding-top: 20px; width:100%;" />
                                </td>
                                <td style="background-color: rgba(0,0,0,0.05); text-align: center; padding: 15px 5px;">
                                    <h1 style="font-size: 80px; font-family: Arial, Helvetica, sans-serif; font-weight: 700; margin: 10px;">@item.LabelCode</h1>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p style="height: 15px;"></p>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2" style="text-align: center;">
                                    <p style="font-weight: 700; font-size: 16px; line-height: 25px; margin-bottom: 0px; font-family: Arial, Helvetica, sans-serif;">www.mylaporeexpress.com</p>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="2" style="text-align: center;">
                                    <p style="font-weight: 700; font-size: 16px; line-height: 25px; margin-bottom: 0px; font-family: Arial, Helvetica, sans-serif;">Note : Perishable food refrigerate immediately</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

            </table>

            <table name="tblInhouseMultiple" class="clsInhouseMultiple" id="tbl_PackingSlip" style="width: 500px; max-height:750px; border: 1px solid rgba(0,0,0,0.1);margin-top:5px;">
                @*style=" display:flex;justify-content:center;align-items:center;height:100%;"*@
                <tr>
                    <td style="vertical-align: top;" border-space="0" border-width="0" border-height="0">
                        <table style="border: 1px solid #e0e0e0; width: 100%; margin-bottom: 1rem; color: #7286a2; border-collapse: collapse; font-size: 14px; font-family:Arial, Helvetica, sans-serif;">

                            <tr>
                                <td style="text-align: center; border: 1px solid #eaf0f7; padding: 0.75rem;" colspan="5">
                                    <img src="data:image/png;base64,@Model.logoBase64String" alt="" style="margin-bottom: 5px;" width="100px" />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center;vertical-align: middle;padding-bottom: 5px;" colspan="5" id="td_picklist">
                                    <h3 style="margin: 0px;padding:10px 0px;">PICK LIST</h3>
                                    <strong style="font-size: 16px;">Order ID : @item.OrderId</strong>
                                </td>
                            </tr>

                            <tr>
                                <td style="border: 1px solid #eaf0f7; padding: 0.75rem;"><strong>Ship To</strong></td>
                                <td style="font-size: 14px; border: 1px solid #eaf0f7; padding: 0.75rem;" colspan="4" id="td_shiptodetails">
                                    <p>
                                        <span style="line-height:1.5em;">@item.shipment.ship_to.name</span>
                                        <br />
                                        <span style="line-height:1.5em;">@item.shipment.ship_to.address_line1</span>@(string.IsNullOrEmpty(item.shipment.ship_to.city_locality) ? null : " ")<span>@item.shipment.ship_to.city_locality</span>@(string.IsNullOrEmpty(item.shipment.ship_to.city_locality) ? null : " ")

                                        <span style="line-height:1.5em;">@item.shipment.ship_to.address_residential_indicator</span>
                                        <br />
                                        <span style="line-height:1.5em;">@item.shipment.ship_to.state_province</span>@(string.IsNullOrEmpty(item.shipment.ship_to.postal_code) ? null : " ")<span>@item.shipment.ship_to.postal_code</span>@(string.IsNullOrEmpty(item.shipment.ship_to.country_code) ? null : " ")<span>@item.shipment.ship_to.country_code</span>
                                        <br />
                                        <span style="line-height:1.5em;">@item.shipment.ship_to.phone</span>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid #eaf0f7; padding: 0.5rem;  font-size: 14px;" colspan="1">SKU</td>
                                <td style="border: 1px solid #eaf0f7; padding: 0.5rem;  font-size: 14px;" colspan="2">Item</td>
                                <td style="border: 1px solid #eaf0f7; padding: 0.5rem; text-align:right; font-size: 14px;" colspan="1">QTY</td>
                            </tr>
                           
                            @if (item.orderItemDetail != null && item.orderItemDetail.Count > 0)
                            {
                                int m = 1;
                                foreach (var od in item.orderItemDetail)
                                {
                                    <tr>
                                        <td style="border: 1px solid #eaf0f7; padding: 0.5rem;  font-size: 14px;" colspan="1">@od.sku</td>
                                        <td style="border: 1px solid #eaf0f7; padding: 0.5rem;  font-size: 14px;" colspan="2">@od.name</td>
                                        <td style="border: 1px solid #eaf0f7; padding: 0.5rem; text-align:right; font-size: 14px;" colspan="1">@od.OrderQty</td>
                                    </tr>
                                    m++;
                                }
                            }

                            <tr>
                                <td style="border: 1px solid #eaf0f7; padding: 0.75rem; text-align: center;" colspan="4" id="td_barcodeimg">
                                    @*<strong class="text-dark">Order ID #</strong>*@
                                    <br />
                                    <img src="@item.barcodeBase64String" alt="" id="img_barcodeimg" style="max-width: 100%;">
                                </td>
                            </tr>
                            <tr>
                                <td style="border: 1px solid #eaf0f7; padding: 0.75rem; text-align: center;" colspan="4" id="td_note">
                                    <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae natus, rem provident quis ut dolore ipsa voluptas et numquam reprehenderit.</small>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        }
    }
</body>

<script>
    @*$(document).ready(function () {
        debugger
        var fromcompanyname = null;
        var fromname = null;
        var fromphone = null;
        var fromaddressline1 = null;
        var fromaddressline2 = null;
        var fromcitylocality = null;
        var fromstateprovince = null;
        var frompostalcode = null;
        var fromcountrycode = null;
        var fromaddress_residential_indicator = null;

        // to address data
        var toname = null;
        var tophone = null;
        var toaddressline1 = null;
        var tocitylocality = null;
        var tostateprovince = null;
        var topostalcode = null;
        var tocountrycode = null;
        var toaddress_residential_indicator = null;

        var carrierids = [];
        var servicecodes = [];

        var packagetypes = [];

        var shipdate = null;
        var weightlb = null;
        var weightoz = null;

        var sizelength = null;
        var sizewidth = null;
        var sizeheight = null;
        var rate = null;

        var storeid = null;

        if ($("#spn_storeName")[0].innerText != null && $("#spn_storeName")[0].innerText != "" && $("#spn_storeName")[0].innerText != undefined) {
            fromcompanyname = $("#spn_storeName")[0].innerText;
        }
        if ($('#drlShipFrom').find(":selected").text() != null && $('#drlShipFrom').find(":selected").text() != "" && $('#drlShipFrom').find(":selected").text() != undefined) {
            fromname = $('#drlShipFrom').find(":selected").text();
        }
        if ($("#hfStoreAddress").val() != null && $("#hfStoreAddress").val() != "" && $("#hfStoreAddress").val() != undefined) {
            fromaddressline1 = $("#hfStoreAddress").val();
        }
        if ($("#hfStoreCity").val() != null && $("#hfStoreCity").val() != "" && $("#hfStoreCity").val() != undefined) {
            fromcitylocality = $("#hfStoreCity").val();
        }
        if ($("#hfStoreState").val() != null && $("#hfStoreState").val() != "" && $("#hfStoreState").val() != undefined) {
            fromstateprovince = $("#hfStoreState").val();
        }
        if ($("#hfStoreZipCode").val() != null && $("#hfStoreZipCode").val() != "" && $("#hfStoreZipCode").val() != undefined) {
            frompostalcode = $("#hfStoreZipCode").val();
        }
        if ($("#hfStoreCountry").val() != null && $("#hfStoreCountry").val() != "" && $("#hfStoreCountry").val() != undefined) {
            fromcountrycode = $("#hfStoreCountry").val();
        }
        if ($("#hfStorePhone").val() != null && $("#hfStorePhone").val() != "" && $("#hfStorePhone").val() != undefined) {
            fromphone = $("#hfStorePhone").val();
        }

        if ($("#liBuyName")[0].innerText != null && $("#liBuyName")[0].innerText != "" && $("#liBuyName")[0].innerText != undefined) {
            toname = $("#liBuyName")[0].innerText;
        }
        if ($("#liBuyAddress")[0].innerText != null && $("#liBuyAddress")[0].innerText != "" && $("#liBuyAddress")[0].innerText != undefined) {
            toaddressline1 = $("#liBuyAddress")[0].innerText;
        }
        if ($("#liBuyCity")[0].innerText != null && $("#liBuyCity")[0].innerText != "" && $("#liBuyCity")[0].innerText != undefined) {
            tocitylocality = $("#liBuyCity")[0].innerText;
        }
        if ($("#liBuyState")[0].innerText != null && $("#liBuyState")[0].innerText != "" && $("#liBuyState")[0].innerText != undefined) {
            tostateprovince = $("#liBuyState")[0].innerText;
        }
        if ($("#liBuyZipcode")[0].innerText != null && $("#liBuyZipcode")[0].innerText != "" && $("#liBuyZipcode")[0].innerText != undefined) {
            topostalcode = $("#liBuyZipcode")[0].innerText;
        }
        if ($("#liBuyCountry")[0].innerText != null && $("#liBuyCountry")[0].innerText != "" && $("#liBuyCountry")[0].innerText != undefined) {
            tocountrycode = $("#liBuyCountry")[0].innerText;
        }
        if ($("#liBuyPhone")[0].innerText != null && $("#liBuyPhone")[0].innerText != "" && $("#liBuyPhone")[0].innerText != undefined) {
            tophone = $("#liBuyPhone")[0].innerText;
        }

        if ($("#drlPackage").val() != null && $("#drlPackage").val() != "" && $("#drlPackage").val() != undefined) {
            var packageid = $("#drlPackage").val();
            var packagename = $("#drlPackage")[0].innerText;
            packagetypes.push(packagename);
        }
        else {
            packagetypes.push('Package');
        }

        if ($("#liOrderDate")[0].innerText != null && $("#liOrderDate")[0].innerText != "" && $("#liOrderDate")[0].innerText != undefined) {
            shipdate = $("#liOrderDate")[0].innerText;
        }
        if ($("#drlService").val() != null && $("#drlService").val() != "" && $("#drlService").val() != undefined) {
            service = $('#drlService option:selected').attr('data-servicecode');
            //service = 'US-PM';
        }
        else {
            service = 'US-PM';
        }

        if ($("#drlService").val() != null && $("#drlService").val() != "" && $("#drlService").val() != undefined) {
            var cid = $('#drlService option:selected').attr('data-carrierid')
            var sercode = $('#drlService option:selected').attr('data-servicecode')
            carrierids.push(cid);
            servicecodes.push(sercode);
        }

        if ($("#txtWeightLB").val() != null && $("#txtWeightLB").val() != "" && $("#txtWeightLB").val() != undefined) {
            weightlb = $("#txtWeightLB").val();
        }
        if ($("#txtWeightOZ").val() != null && $("#txtWeightOZ").val() != "" && $("#txtWeightOZ").val() != undefined) {
            weightoz = $("#txtWeightOZ").val();
        }

        if ($("#txtsize1").val() != null && $("#txtsize1").val() != "" && $("#txtsize1").val() != undefined) {
            sizelength = $("#txtsize1").val();
        }
        if ($("#txtsize2").val() != null && $("#txtsize2").val() != "" && $("#txtsize2").val() != undefined) {
            sizewidth = $("#txtsize2").val();
        }
        if ($("#txtsize3").val() != null && $("#txtsize3").val() != "" && $("#txtsize3").val() != undefined) {
            sizeheight = $("#txtsize3").val();
        }
        if ($("#span_Rate")[0].innerText != null && $("#span_Rate")[0].innerText != "" && $("#span_Rate")[0].innerText != undefined) {
            rate = $("#span_Rate")[0].innerText;
        }

        if ($("#hfStoreId").val() != null && $("#hfStoreId").val() != "" && $("#hfStoreId").val() != undefined) {
            storeid = $("#hfStoreId").val();
        }

        var jsonObjLabel = {
            "shipment": {
                "service_code": service,
                "ship_to": {
                    "name": toname,
                    "phone": tophone,
                    "address_line1": toaddressline1,
                    "city_locality": tocitylocality,
                    "state_province": tostateprovince,
                    "postal_code": topostalcode,
                    "country_code": tocountrycode,
                    "address_residential_indicator": "yes"
                },
                "ship_from": {
                    "company_name": fromcompanyname,
                    "name": fromname,
                    "phone": fromphone,
                    "address_line1": fromaddressline1,
                    "address_line2": fromaddressline2,
                    "city_locality": fromcitylocality,
                    "state_province": fromstateprovince,
                    "postal_code": frompostalcode,
                    "country_code": fromcountrycode,
                    "address_residential_indicator": "no"
                },
                "packages": [
                    {
                        "weight": {
                            "value": weightlb,
                            "unit": "ounce"
                        },
                        "dimensions": {
                            "unit": "inch",
                            "length": sizelength,
                            "width": sizewidth,
                            "height": sizeheight
                        }
                    }
                ]
            }
        };
        var orderid = '@Model.OrderId';
       $.ajax({
           type: "POST",
           url: "/Order/getPdf",
           //contentType: "application/json; charset=utf-8",
           //dataType: "json",
           data: { getlabel: jsonObjLabel, StoreId: storeid, OrderId: orderid, viewPath: "~/Views/Order/OrderShipmentDetails.cshtml"},
           success: function (response) {
               window.location.href = "@Url.RouteUrl(new
               { Controller = "Order", Action = "DownloadPDF" })/?file=" + response.file;
           },
           error: function (response) {
               alert(response.responseText);
           }
       });
    });*@
</script>
