@model OneposStamps.Models.OrdersDetail
@{
    var i = 1;
}
<style>
    .hide_column {
        display: none;
    }
</style>
@*<div class="row">
    <div class="col-sm-12">

        <div class="card">
            <div class="card-body">*@
                <table id="datatable4" class="table table-bordered dt-responsive nowrap table-striped table-hover" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>
                                <div class="checkbox">
                                    <div class="checkbox checkbox-primary checkbox-single ml-2">
                                        @*<input type="checkbox" class="custom-control-input" name="chkSelectMaster" data-parsley-multiple="groups" data-parsley-mincheck="2">
                    <label class="custom-control-label" for="chkSelectMaster"></label>*@
                                        <input type="checkbox" name="chkSelectMaster" aria-label="Single checkbox Two" />
                                        <label class="mb-0"></label>
                                    </div>
                                </div>
                            </th>
                            @*<th>S.No</th>*@
                            <th style="display:none">as</th>
                            <th>Order ID</th>
                            <th>Recipient Name</th>
                            <th>Delivery Date</th>
                            <th>Item Count</th>
                            <th>Order Total</th>
                            <th>Zone</th>
                            <th style="display:none">df</th>
                            @*<th>SKU Code</th>*@
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model.OrderList != null && Model.OrderList.Count > 0)
                        {
                            foreach (var d in Model.OrderList)
                            {
                                var StoreId = "StoreId_" + Convert.ToString(Model.StoreId);
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <div class="checkbox checkbox-primary checkbox-single ml-2">
                                        @*<input type="checkbox" class="custom-control-input" name="chkSelect" value="@d.OrderId" data-parsley-multiple="groups" data-parsley-mincheck="2">
                                        <label class="custom-control-label" for="chkSelect"></label>*@
                                        <input type="checkbox" name="chkSelect" value="@d.OrderId" aria-label="Single checkbox Two" />
                                        <label class="mb-0"></label>
                                    </div>
                                </div>
                            </td>
                            @*<td>@i</td>*@
                            <td style="display:none"><input type="hidden" id="@StoreId" data-name="hfstoreid" value="@Model.StoreId"></td>
                            <td><a href="@Url.Action("OrderShipmentDetails", "Order")?StoreId=@Model.StoreId&OrderId=@d.OrderId&ZoneId=@d.ZoneId&DeliverDate=@d.OrderDate.Value.ToString("MM'/'dd'/'yyyy")" data-orderid="@d.OrderId" data-storeid="@Model.StoreId" class="text-primary font-weight-bold"> @d.OrderId</a></td>
                            <td>@d.CustomerName</td>
                            <td>@d.OrderDate.Value.ToString("MM'/'dd'/'yyyy")</td>
                            <td>@d.Qty</td>
                            <td><strong>@("$")@string.Format("{0:#,##0.##}", d.OrderTotal)</strong></td>
                            <td>@d.ZoneName</td>
                            <td style="display:none" name="zoneid">@d.ZoneId</td>
                            @*<td style="display:none" name="storename">@d.storeName</td>
                            <td style="display:none" name="storeaddress">@d.StoreAddress</td>
                            <td style="display:none" name="storecity">@d.StoreCity</td>
                            <td style="display:none" name="storestate">@d.StoreState</td>
                            <td style="display:none" name="storecountry">@d.StoreCountry</td>
                            <td style="display:none" name="storephoneno">@d.StorePhoneNo</td>
                            <td style="display:none" name="storezipcode">@d.StoreZipcode</td>
                            <td style="display:none" name="buyname">@d.name</td>
                            <td style="display:none" name="buyaddress">@d.address</td>
                            <td style="display:none" name="buyphoneno">@d.phoneNo</td>
                            <td style="display:none" name="buycity">@d.city</td>
                            <td style="display:none" name="buystate">@d.state</td>
                            <td style="display:none" name="buyzipcode">@d.zipcode</td>
                            <td style="display:none" name="buycountry">@d.country</td>
                            <td style="display:none" name="buyemail">@d.email</td>
                            <td style="display:none" name="buylandmark">@d.landMark</td>
                            <td style="display:none" name="buystreet">@d.street</td>*@
                           
                        </tr>
                                i++;
                            }
                        }
                        else
                        {
                                <tr>
                                    <td>No data found</td>
                                </tr>  
                        }
                    </tbody>
                </table>

            @*</div>
        </div>


    </div>


</div>*@

<script>

    $(document).ready(function () {

        $('input[name="chkSelectMaster"]').change(function () {
            if (this.checked) {
//                $('input[name="chkSelect"]').prop("checked", true);
                $('table tbody tr:visible :checkbox').prop('checked', true)
            }
            else {
                $('table tbody tr:visible :checkbox').prop('checked', false)
                //$('input[name="chkSelect"]').prop("checked", false);
            }

            var selectedrecords = $('input[name="chkSelect"]:checked').length;

            $("#lblRowCountTop").removeAttr("style");
            $("#gridRowCountTop")[0].innerText = selectedrecords;

            $("#lblRowCountBottom").removeAttr("style");
            $("#gridRowCountBottom")[0].innerText = selectedrecords;
        });

        $('input[name="chkSelect"]').change(function () {

            var selectedrecords = $('input[name="chkSelect"]:checked').length;

            $("#lblRowCountTop").removeAttr("style");
            $("#gridRowCountTop")[0].innerText = selectedrecords;

            $("#lblRowCountBottom").removeAttr("style");
            $("#gridRowCountBottom")[0].innerText = selectedrecords;
        });

        oTable = $('#datatable4').DataTable();
        $('#txtSearchOrder').keyup(function () {
            oTable.search($(this).val()).draw();
        })
        
    });


</script>