@model OneposStamps.Models.OrdersDetail
@{
    ViewBag.Title = "OrderDetails";
}

<body data-layout="horizontal" class="dark-topbar">

    <div class="page-wrapper">
        <!-- Page Content-->
        <div class="page-content">

            <div class="container-fluid">
                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box d-flex align-items-center">

                            <h4 class="page-title font-weight-bold">Order Shipment</h4>
                        </div><!--end page-title-box-->
                    </div><!--end col-->

                </div>
                <!-- end page title end breadcrumb -->

                <div class="row">
                    <div class="col-sm-12">

                        <div class="card">
                            <div class="card-body">

                                <div class="border-bottom mt-3 mb-3 py-2">
                                    <div class="d-flex align-items-center">
                                        <span class="font-12 mr-2">Select Delivery Date</span>
                                        <div class="mr-2">
                                            <div class="input-group">
                                                <input type="text" onchange="onFilterClick()" readonly="readonly" style="background-color:transparent" id="txtDeliverDate" name="txtDeliverDate" class="form-control form-control-sm" placeholder="Select Date MM/DD/YYY">
                                                <div class="input-group-append">
                                                    <span class="input-group-text"><i class="fa fa-calendar-alt"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="btn-group" id="divZones">
                                            <button type="button" class="btn btn-default btn-sm border dropdown-toggle mr-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-filter text-info"></i> Select Zone <i class="mdi mdi-chevron-down"></i></button>

                                            <div class="dropdown-menu" x-placement="bottom-start">
                                                @if (Model.ZoneList != null)
                                                {
                                                    foreach (var item in Model.ZoneList)
                                                    {
                                                        <a class="dropdown-item d-flex" href="#">
                                                            <div class="checkbox">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" value="@item.ZoneId" name="chkZoneList" id="customCheck_@item.ZoneId" data-parsley-multiple="groups" data-parsley-mincheck="2">
                                                                    <label class="custom-control-label" for="customCheck_@item.ZoneId"></label>
                                                                </div>
                                                            </div>
                                                            @item.ZoneName
                                                        </a>
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <div class="btn-group" style="visibility:hidden">
                                            <button type="button" class="btn btn-default btn-sm border dropdown-toggle mr-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-map-marker text-info"></i> Select City <i class="mdi mdi-chevron-down"></i></button>

                                            <div class="dropdown-menu" x-placement="bottom-start">
                                                <a class="dropdown-item d-flex" href="#">
                                                    <div class="checkbox">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="one" data-parsley-multiple="groups" data-parsley-mincheck="2">
                                                            <label class="custom-control-label" for="one"></label>
                                                        </div>
                                                    </div>
                                                    San Jose (12)
                                                </a>
                                                <a class="dropdown-item d-flex" href="#">
                                                    <div class="checkbox">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="two" data-parsley-multiple="groups" data-parsley-mincheck="2">
                                                            <label class="custom-control-label" for="two"></label>
                                                        </div>
                                                    </div>
                                                    Cupertino (4)
                                                </a>
                                                <a class="dropdown-item d-flex" href="#">
                                                    <div class="checkbox">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="three" data-parsley-multiple="groups" data-parsley-mincheck="2">
                                                            <label class="custom-control-label" for="three"></label>
                                                        </div>
                                                    </div>
                                                    Fremont (7)
                                                </a>
                                                <a class="dropdown-item d-flex" href="#">
                                                    <div class="checkbox">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="three" data-parsley-multiple="groups" data-parsley-mincheck="2">
                                                            <label class="custom-control-label" for="three"></label>
                                                        </div>
                                                    </div>
                                                    Dublin (5)
                                                </a>
                                            </div>
                                        </div>
                                        @*<div class="btn-group">
                                                <button type="button" class="btn btn-default btn-sm border dropdown-toggle mr-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-filter text-info"></i> Select Zone <i class="mdi mdi-chevron-down"></i></button>

                                                <div class="dropdown-menu" x-placement="bottom-start">
                                                    <a class="dropdown-item" href="#">USPA</a>
                                                    <a class="dropdown-item" href="#">FedEx</a>
                                                    <a class="dropdown-item" href="#">USA</a>
                                                    <a class="dropdown-item" href="#">Zone 2</a>
                                                </div>
                                            </div>*@

                                        <!-- <a href="#" class="btn btn-link btn-sm text-primary">Clear Selection</a> -->


                                        <div class="ml-auto mr-2">
                                            <input type="text" class="form-control form-control-sm" placeholder="search" />
                                        </div>

                                        <button class="btn btn-default btn-sm border mr-2" onclick="onMultiLabelCreateClick()"><i class="fa fa-file text-primary"></i> Create Label</button>
                                        @*<button class="btn btn-default btn-sm border mr-2"><i class="fa fa-trash-alt text-danger"></i> Delete</button>*@
                                    </div>
                                </div>

                                <div id="divOrderDetails">

                                </div>
                            </div>
                        </div>


                    </div>


                </div>


            </div><!-- container -->

        </div>
        <!-- end page content -->
    </div>
    <!-- end page-wrapper -->

</body>

<script>

    $(document).ready(function () {

        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        $("#txtDeliverDate").datepicker({
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            endDate: '+0d',
            autoclose: true,
            orientation: "bottom"
        });

        var DeliverDate = '@Model.DeliverDate';
        if (DeliverDate != null && DeliverDate != "" && DeliverDate != undefined) {
            $("#txtDeliverDate").val(DeliverDate)
            onFilterClick();
        }

        $('input[name="chkZoneList"]').change(function () {
            var zoneidList = [];
            $('input[name="chkZoneList"]:checked').each(function () {
                zoneidList.push($(this).val());
            });

            var tr = $("#datatable4 tbody tr") // select all the rows

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName('td')[8]; // query the Alias column
                if (td) {
                    var tdValue = td.innerHTML;
                    var isMatched = zoneidList.filter(function (val) {
                        return tdValue.indexOf(val) > -1
                    }); //check if any val in filterParam array is matching the tdValue
                    if (isMatched.length) //check length of filtered resultset
                        tr[i].style.display = "";
                    else
                        tr[i].style.display = "none";
                    if (zoneidList.length == 0) {
                        tr[i].style.display = "";
                    }
                }
            }

            //$("#datatable4 tbody tr").filter(function () {
            //    $(this).toggle($(this).text().toLowerCase().indexOf(zoneidList) > -1);
            //});

        });

    });


    function onFilterClick() {

        var data = {            
            DeliverDate: $("#txtDeliverDate").val(),
            StoreId: '@Model.StoreId',
        }

        $.ajax({
            type: "POST",
            url: "/Order/OrderDetails",
            //contentType: "application/json; charset=utf-8",
            //dataType: "json",
            data: data,
            success: function (response) {
                $("#divOrderDetails").html(response);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }


    function onMultiLabelCreateClick() {
        var orderidList = [];
        $('input[name="chkSelect"]:checked').each(function () {
            orderidList.push({ OrderId: $(this).val() });
        });

        var onlyorderidList = [];
        $('input[name="chkSelect"]:checked').each(function () {
            onlyorderidList.push($(this).val());
        });

        if (orderidList.length > 0) {
            var data = {
                OrderIds: orderidList,
                StoreId: '@Model.StoreId',
                DeliverDate: $("#txtDeliverDate").val()
            }
    
            var url = '@Url.Action("CreateMultiLabel", "Order")?StoreId=' + data.StoreId + '&DeliverDate=' + data.DeliverDate + '&OrderIds=' + JSON.stringify(orderidList);
            //var url = '@Url.Action("CreateMultiLabel", "Order")?OrderIdList=' + data;
            window.location.href = url;

            //$.ajax({
            //    type: "POST",
            //    url: "/Order/CreateMultiLabel",
            //    //contentType: "application/json; charset=utf-8",
            //    //dataType: "json",
            //    data: { OrderIdList: data },
            //    success: function (response) {
            //        window.open(response, '_blank');
            //    },
            //    error: function (response) {
            //        alert(response.responseText);
            //    }
            //});
        }
        else {
            alert("Please select at least one record");
        }
    }


</script>