@model OneposStamps.Models.OrderDetails
@{
    /**/
    int qtyCount = 0;
    ViewBag.Title = "OrderShipmentDetails";
}
@*<link href="~/Content/ManualCSS/PrintOrderTable.css" rel="stylesheet" type="text/css" media="print" />*@

<body data-layout="horizontal" class="dark-topbar">

    <div class="page-wrapper">
        <!-- Page Content-->
        <div class="page-content">

            <div class="container-fluid">
                <!-- Page-Title -->
                <div class="row justify-content-center">
                    <div class="col-sm-12">
                        <div class="page-title-box d-flex align-items-center">
                            <a onclick="openorderdetailsview()" class="btn btn-outline-primary btn-round waves-effect waves-light mr-3"><i class="mdi mdi-keyboard-backspace mr-2"></i>Back</a>
                            <h4 class="page-title font-weight-bold">@Model.OrderId</h4>

                        </div><!--end page-title-box-->
                    </div><!--end col-->

                </div>
                <!-- end page title end breadcrumb -->

                <div class="row justify-content-center">
                    <div class="col-sm-8">
                        <div class="row justify-content-center">
                            <div class="col-sm-6">
                                <div class="card border">
                                    <div class="bg-dark d-flex align-items-center">
                                        <h5 class="order-card-title bg-gray">Order Summary</h5>
                                        <div class="col text-right">
                                            <button class="btn btn-outline-light order-btn font-11">Edit</button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        @if (Model.orderSummary != null)
                                        {
                                            <input type="hidden" id="hfStoreId" name="hfStoreId" value="@Model.StoreId" />
                                            <input type="hidden" id="hfTransactionId" name="hfTransactionId" value="@Model.orderSummary.TransactionId" />
                                            <input type="hidden" id="hfStoreAddress" name="hfStoreAddress" value="@Model.orderSummary.StoreAddress" />
                                            <input type="hidden" id="hfStoreCity" name="hfStoreCity" value="@Model.orderSummary.StoreCity" />
                                            <input type="hidden" id="hfStoreState" name="hfStoreState" value="@Model.orderSummary.StoreState" />
                                            <input type="hidden" id="hfStoreCountry" name="hfStoreCountry" value="@Model.orderSummary.StoreCountry" />
                                            <input type="hidden" id="hfStoreZipCode" name="hfStoreZipCode" value="@Model.orderSummary.StoreZipcode" />
                                            <input type="hidden" id="hfStorePhone" name="hfStorePhone" value="1234567890" />
                                            <ul class="mb-0 order-list">
                                                <li><strong class="mr-3">Store</strong><span id="spn_storeName">@Model.orderSummary.storeName</span></li>
                                            </ul>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <ul class="mb-0 order-list">
                                                        <li><strong class="mr-3">Order Date</strong><span id="liOrderDate">@(string.IsNullOrEmpty(Model.orderSummary.orderDate.ToString()) ? null : Model.orderSummary.orderDate.Value.ToString("MM'/'dd'/'yyyy"))</span></li>
                                                        <li><strong class="mr-3">Paid Date</strong>@(string.IsNullOrEmpty(Model.orderSummary.paidDate.ToString()) ? null : Model.orderSummary.paidDate.Value.ToString("MM'/'dd'/'yyyy"))</li>
                                                        <li><strong class="mr-3">Hold Until</strong>@Model.orderSummary.holdUntil</li>

                                                    </ul>
                                                </div>
                                                <div class="col-md-6">
                                                    <ul class="mb-0 order-list">
                                                        <li><strong class="mr-3">Product Total</strong>@("$")@Model.orderSummary.productTotal</li>
                                                        <li><strong class="mr-3">Shipping Paid</strong>@("$")<span id="liShippingPaid">@Model.orderSummary.shippingPaid</span></li>
                                                        <li><strong class="mr-3">Tax paid</strong>@("$")@Model.orderSummary.taxPaid</li>
                                                        <li class="border bg-dark text-white">
                                                            <strong class="mr-3">Total Order</strong>@("$")@Model.orderSummary.totalOrder
                                                        </li>
                                                        <li><strong class="mr-3">Total paid</strong>@("$")@Model.orderSummary.totalPaid</li>

                                                    </ul>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card border">
                                    <div class="bg-dark d-flex align-items-center">
                                        <h5 class="order-card-title bg-gray">Buyer Recipient Info</h5>
                                        <div class="col text-right">
                                            <button class="btn btn-outline-light order-btn font-11">Edit</button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        @if (true)
                                        {
                                            <ul class="mb-0 order-list">
                                                <li class="d-flex border-bottom mb-3 pb-3">
                                                    <strong class="mr-3">Sold To</strong>
                                                    <ul class="p-0">
                                                        <li>@Model.BuyersDetails.name</li>
                                                        <li> <a href="mailto:@Model.BuyersDetails.email" class="text-primary">@Model.BuyersDetails.email</a></li>
                                                        <li>@Model.BuyersDetails.phoneNo</li>
                                                    </ul>

                                                </li>
                                                <li class="d-flex">
                                                    <strong class="mr-3">Ship To</strong>
                                                    <ul class="p-0" style="width: 45%;">
                                                        <li><span id="liBuyName">@Model.BuyersDetails.name</span></li>
                                                        <li><span id="liBuyAddress">@Model.BuyersDetails.address</span>@(string.IsNullOrEmpty(Model.BuyersDetails.city) ? null : ", ")<span id="liBuyCity">@Model.BuyersDetails.city</span>@(string.IsNullOrEmpty(Model.BuyersDetails.city) ? null : ", ")</li>
                                                        <li><span id="liBuyLandmark">@Model.BuyersDetails.landMark</span></li>
                                                        <li><span id="liBuyState">@Model.BuyersDetails.state</span>@(string.IsNullOrEmpty(Model.BuyersDetails.zipcode) ? null : ", ")<span id="liBuyZipcode">@Model.BuyersDetails.zipcode</span>@(string.IsNullOrEmpty(Model.BuyersDetails.country) ? null : ", ")<span id="liBuyCountry">@Model.BuyersDetails.country</span></li>
                                                        <li><span id="liBuyPhone">@Model.BuyersDetails.phoneNo</span></li>
                                                        <li><a style="display:none" id="addverifyStatus" class="text-success font-12"><i class="fa fa-check-circle"></i> Address Verified</a></li>
                                                        <li><a style="display:none" id="addverifyStatus2" class="text-danger font-12"><i class="fa fa-times-circle" style="color:red"></i><strong>Address Not Verified</strong></a></li>
                                                    </ul>
                                                    <a onclick="onverifyAdrress()" style="cursor:pointer" class="ml-auto text-primary">Verify Address</a>
                                                </li>

                                            </ul>
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="card border">
                                    <h5 class="order-card-title bg-gray">Order Items</h5>
                                    <div class="card-body p-0">
                                        <table class="table mb-0 table-centered table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Item(s)</th>
                                                    <th>Unit $</th>
                                                    <th>QTY</th>
                                                    <th>Stock</th>
                                                    <th>Total $</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.OrderItemDetails != null && Model.OrderItemDetails.Count > 0)
                                                {
                                                    foreach (var od in Model.OrderItemDetails)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <p class="font-weight-bold mb-0">@od.name</p>
                                                                <p class="mb-0"><strong>SKU : </strong>@od.sku</p>
                                                                <p class="mb-0">@od.Itemlist</p>
                                                            </td>
                                                            <td>@("$")@od.UnitPrice</td>
                                                            <td>@od.OrderQty</td>
                                                            <td>In Stock</td>
                                                            <td class="font-weight-bold mb-0">@("$")@od.TotalPrice</td>
                                                        </tr>
                                                        <tr style="display:none"><td>@(qtyCount += Convert.ToInt16(od.OrderQty))</td></tr>
                                                    }
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="card border">
                                    <h5 class="order-card-title">Order Notes</h5>
                                    <div class="card-body">
                                        <ul class="mb-0 order-list">
                                            <li>
                                                <div class="col-lg-3 d-inline-block text-right font-weight-bold">Customer</div>
                                                <a href="#" data-type="text" data-pk="1" data-title="Enter username" class="editable editable-click">@Model.BuyersDetails.name</a>
                                                @*<label class="custom-control-label font-weight-bold" id="lbl_CustomerName">@Model.BuyersDetails.name</label>*@
                                            </li>
                                            <li>
                                                <div class="col-lg-3 d-inline-block text-right font-weight-bold">To Buyer</div>
                                                <a href="#" data-type="text" data-pk="1" data-title="Enter username" class="editable editable-click">None</a>
                                            </li>
                                            <li>
                                                <div class="col-lg-3 d-inline-block text-right font-weight-bold">Internal</div>
                                                <a href="#" data-type="text" data-pk="1" data-title="Enter username" class="editable editable-click">None</a>
                                            </li>
                                            <li>
                                                <div class="col-lg-3 d-inline-block text-right font-weight-bold">
                                                    <div class="checkbox">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="customCheck3" data-parsley-multiple="groups" data-parsley-mincheck="2">
                                                            <label class="custom-control-label font-weight-bold" for="customCheck3">This is a gift</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#" data-type="text" data-pk="1" data-title="Enter username" class="editable editable-click">No Gift Message</a>
                                            </li>
                                            <li>
                                                <div class="col-lg-3 d-inline-block text-right font-weight-bold">Order Notes</div>
                                                <a href="#" data-type="text" data-pk="1" data-title="Enter username" class="editable editable-click">@Model.orderSummary.OrderNotes</a>
                                                @*<label class="custom-control-label font-weight-bold" id="lbl_OrderNotes">@Model.orderSummary.OrderNotes</label>*@
                                            </li>
                                            <li>
                                                <div class="col-lg-3 d-inline-block text-right font-weight-bold">Custom Field Two</div>
                                                <a href="#" data-type="text" data-pk="1" data-title="Enter username" class="editable editable-click">None</a>
                                            </li>
                                            <li>
                                                <div class="col-lg-3 d-inline-block text-right font-weight-bold">Custom Field Three</div>
                                                <a href="#" data-type="text" data-pk="1" data-title="Enter username" class="editable editable-click">None</a>
                                            </li>


                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card border">
                            <div class="bg-dark d-flex align-items-center">
                                <h5 class="order-card-title bg-gray">Shipments</h5>
                                <div class="col text-right">

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-outline-light order-btn font-11 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Docs
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" data-toggle="modal" data-target="#packingslip">Packing Slips</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Order Summary</a>
                                            <a class="dropdown-item" href="#">Pack List</a>
                                        </div>
                                    </div>
                                    <button class="btn btn-outline-light order-btn font-11">Resend</button>
                                    <button class="btn btn-outline-light order-btn font-11">Return</button>
                                    <button class="btn btn-outline-light order-btn font-11">Void</button>
                                    <button class="btn btn-outline-light order-btn font-11"><i class="fa fa-print"></i> Labels</button>

                                </div>
                            </div>
                            <div class="card-body p-0" id="divShipDetail">
                                <!-- <p class="text-muted text-center my-3">No Prior Shipments</p> -->

                                @{ Html.RenderPartial("_ShipmentDetails", Model); }
                            </div>
                        </div>

                        <div class="card border">
                            <h5 class="order-card-title bg-gray">Shipping Info</h5>
                            <div class="card-body">
                                <div class="row align-items-center">
                                    @*<div class="col-md-4 text-right">
                                            <label for="spn_Requested" class="text-right">Requested</label>
                                        </div>
                                        <div class="col-md-8 mb-2">
                                            <strong><span id="spn_Requested">Local Delivery</span></strong>
                                        </div>*@

                                    <div class="col-md-4 text-right">
                                        <label for="drlShipFrom" class="text-right">Zone<span class="text-danger">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group d-flex align-items-center">
                                            <select name="drlShipFrom" id="drlShipFrom" class="form-control-sm form-control">
                                                @foreach (var item in Model.ZoneList)
                                                {
                                                    <option value="@item.ZoneId">@item.ZoneName</option>
                                                }
                                            </select>
                                            <a href="#" class="ml-2 btn btn-primary table-btn">Calc</a>
                                        </div>
                                    </div>

                                    <div class="col-md-4 text-right">
                                        <label for="divWeight" class="text-right mb-4">Weight <span class="text-danger">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group d-flex align-items-center" id="divWeight">
                                            <input type="number" id="txtWeightLB" name="txtWeightLB" class="form-control form-control-sm" value="20" placeholder="0" />
                                            <span class="mx-3">(lb)</span>
                                            <input type="number" id="txtWeightOZ" name="txtWeightOZ" class="form-control form-control-sm mr-3" value="0" placeholder="0" />
                                            <span>(oz)</span>
                                        </div>
                                    </div>

                                    <div class="col-md-4 text-right">
                                        <label for="drlService" class="text-right mb-4">Service <span class="text-danger">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <select name="drlService" id="drlService" class="form-control-sm form-control">
                                                @foreach (var item in Model.ServiceList)
                                                {
                                                    <option value="@item.Id" data-carrierid="@item.CarrierId" data-servicecode="@item.Service_Code" data-inhouse="@item.INHouse">@item.Name</option>
                                                }
                                                @*<option value="UPS Next Day Air Saver">UPS Next Day Air Saver</option>
                                                    <option value="USPA">USPA</option>
                                                    <option value="USP">USP</option>*@
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4 text-right align-self-start">
                                        <label for="" class="text-right mt-2">Package <span class="text-danger">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group d-flex align-items-center">
                                            <select name="drlPackage" id="drlPackage" class="form-control-sm form-control">
                                                @foreach (var item in Model.PackageList)
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                                @*<option value="UPS Next Day Air Saver">UPS Next Day Air Saver</option>
                                                    <option value="USPA">USPA</option>
                                                    <option value="USP">USP</option>*@
                                            </select>
                                            <a href="#" class="ml-2 text-primary"><i class="fa fa-plus"></i></a>
                                        </div>
                                    </div>

                                    <div class="col-md-4 text-right">
                                        <label for="txtSize" class="text-right mb-4">Size <span class="text-danger">*</span></label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group d-flex align-items-center">
                                            <input type="number" name="txtSize" id="txtsize1" class="form-control form-control-sm" placeholder="0" value="12" />
                                            <span class="mx-2">(X)</span>
                                            <input type="number" name="txtSize" id="txtsize2" class="form-control form-control-sm" placeholder="0" value="12" />
                                            <span class="mx-2">(X)</span>
                                            <input type="number" name="txtSize" id="txtsize3" class="form-control form-control-sm mr-1" placeholder="0" value="12" />
                                            <span>(in)</span>
                                        </div>
                                    </div>

                                    <div class="col-md-4 text-right">
                                        <label for="drlConfirm" class="text-right mb-4">Confirm</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <select name="drlConfirm" id="drlConfirm" class="form-control-sm form-control">
                                                <option value="Online">Online</option>
                                                <option value="USPA">USPA</option>
                                                <option value="USP">USP</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4 text-right">
                                        <label for="drlInsurance" class="text-right mb-4">Insurance</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <select name="drlInsurance" id="drlInsurance" class="form-control-sm form-control">
                                                <option value="UPS Next Day Air Saver">UPS Next Day Air Saver</option>
                                                <option value="USPA">USPA</option>
                                                <option value="USP">USP</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4 text-right">
                                        <label for="" class="text-right">Rate</label>
                                    </div>
                                    <div class="col-md-8 mb-2">
                                        <strong class="text-primary font-20">$<span id="span_Rate">0</span></strong>
                                        <button id="btnRateRefresh" onclick="onBtnRateRefreshClick()" class="btn btn-info table-btn mb-2 ml-2"><i class="fas fa-sync-alt"></i></button>
                                    </div>

                                    <div class="col-md-4 text-right">
                                        <label for="spn_deliveryTime" class="text-right">Delivery Time</label>
                                    </div>
                                    <div class="col-md-8 mb-2">
                                        <span class="text-dark lead" id="spn_deliveryTime"></span>
                                    </div>

                                    <div class="col-md-12 text-center my-3">
                                        <div class="checkbox">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="chkIsShipDefault" data-parsley-multiple="groups" data-parsley-mincheck="2">
                                                <label class="custom-control-label font-weight-bold" for="chkIsShipDefault">Save as shipping defaults for this product</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 text-center">
                                        <button id="btnCreateLabel" onclick="onCreateLabelClick()" class="btn btn-primary">Create Label</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div><!-- container -->

        </div>
        <!-- end page content -->
    </div>
    <!-- end page-wrapper -->
    <!-- packingslip -->

    <div class="modal" tabindex="-1" role="dialog" id="packingslip">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width: 535px !important;">
                <div class="modal-header">
                    <h5 class="modal-title">Packing Slip</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="divtbl_PackingSlip">
                    @{ Html.RenderPartial("_PackingSlipDetails", Model); }
                   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default border" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="btncreatepdf"><i class="fa fa-file mr-1"></i> Create PDF Slip</button>
                </div>
            </div>
        </div>
    </div>

    <div id="divInhouseLabel" style="display:none" class='html-content'></div>
</body>

<script>
   $(document).ready(function () {
        var selectedZoneId = '@Model.SelectedZoneId';
        var SelectedServiceId = '@Model.SelectedServiceId';

        if (selectedZoneId != null && selectedZoneId != '' && selectedZoneId != undefined ) {
            //$('#drlShipFrom select').val(selectedZoneId); //.change()
            $('#drlShipFrom option:selected').attr("selected", null);
            $('#drlShipFrom option[value='+selectedZoneId+']').attr("selected", "selected");
        }

        if (SelectedServiceId != null && SelectedServiceId != '' && SelectedServiceId != undefined) {
            //$('#drlShipFrom select').val(selectedZoneId); //.change()
            $('#drlService option:selected').attr("selected", null);
            $('#drlService option[value=' + SelectedServiceId + ']').attr("selected", "selected");
        }

       $(document)
           .ajaxStart(function () {
               //$('body').append($loading.show());
               $.loading.start('<img src = "/Content/Loader_Files/mylapore-loader.gif" />');

           });
       $(document)
           .ajaxStop(function () {
               $.loading.end();
               //$loading.hide();
           });
    });

    $('#btncreatepdf').click(function () {
        var wi = window.open();
        var html2 = $("#divtbl_PackingSlip").html();
      
        $(wi.document.body).append(html2);
        setTimeout(function () {
            wi.document.title = "Packing Slip";
            wi.print();
        }, 200);
        //$("#tbl_PackingSlip").printThis({
        //    importCSS: true,
        //    importStyle: true,//thrown in for extra measure
        //    loadCSS: "~/Content/ManualCSS/PrintOrderTable.css"
        //});
    });

    function openorderdetailsview() {
        var storeid = '@Model.StoreId';
        var DeliverDate = '@Model.DeliverDate';
        window.location.href = '@Url.Action("OrderDetails", "Order")?StoreId=' + storeid +'&redirectedDeliverDate=' + DeliverDate ;
    }

    function onverifyAdrress() {
        var name = null;
        var address1 = null;
        var city = null;
        var state = null;
        var zipcode = null;
        var storeid = null;

        if ($("#liBuyName")[0].innerText != null && $("#liBuyName")[0].innerText != "" && $("#liBuyName")[0].innerText != undefined) {
            name = $("#liBuyName")[0].innerText;
        }
        if ($("#liBuyAddress")[0].innerText != null && $("#liBuyAddress")[0].innerText != "" && $("#liBuyAddress")[0].innerText != undefined) {
            address1 = $("#liBuyAddress")[0].innerText;
        }
        if ($("#liBuyCity")[0].innerText != null && $("#liBuyCity")[0].innerText != "" && $("#liBuyCity")[0].innerText != undefined) {
            city = $("#liBuyCity")[0].innerText;
        }
        if ($("#liBuyState")[0].innerText != null && $("#liBuyState")[0].innerText != "" && $("#liBuyState")[0].innerText != undefined) {
            state = $("#liBuyState")[0].innerText;
        }
        if ($("#liBuyZipcode")[0].innerText != null && $("#liBuyZipcode")[0].innerText != "" && $("#liBuyZipcode")[0].innerText != undefined) {
            zipcode = $("#liBuyZipcode")[0].innerText;
        }
        if ($("#hfStoreId").val() != null && $("#hfStoreId").val() != "" && $("#hfStoreId").val() != undefined) {
            storeid = $("#hfStoreId").val();
        }



        var addressData = {
            name: name,
            address1: address1,
            city: city,
            state: state,
            zipcode: zipcode
        }

        $.ajax({
            type: "POST",
            url: "/Order/CheckAddress",
            //contentType: "application/json; charset=utf-8",
            //dataType: "json",
            data: { Addressrequest: addressData, StoreId: storeid},
            success: function (response) {
                if (response == "verified") {
                    $("#addverifyStatus").attr('style', 'display: inline');
                    $("#addverifyStatus2").attr('style', 'display: none');
                }
                else {
                    $("#addverifyStatus2").attr('style', 'display: inline');
                    $("#addverifyStatus").attr('style', 'display: none');
                }
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    function onBtnRateRefreshClick() {

        if ($("#txtWeightLB").val() == null || $("#txtWeightLB").val() == "" || $("#txtWeightLB").val() == undefined) {
            alert("Please enter weight (lb)");
            return;
        }
        if ($("#txtWeightOZ").val() == null || $("#txtWeightOZ").val() == "" || $("#txtWeightOZ").val() == undefined) {
            alert("Please enter weight (oz)");
            return;
        }

        if ($("#txtsize1").val() == null || $("#txtsize1").val() == "" || $("#txtsize1").val() == undefined) {
            alert("Please enter size");
            return;
        }
        if ($("#txtsize2").val() == null || $("#txtsize2").val() == "" || $("#txtsize2").val() == undefined) {
            alert("Please enter size");
            return;
        }
        if ($("#txtsize3").val() == null || $("#txtsize3").val() == "" || $("#txtsize3").val() == undefined) {
            alert("Please enter size");
            return;
        }

        var shipdate = null;
        if ($('#drlService option:selected').attr('data-inhouse').toLowerCase() == "true" || $('#drlService option:selected').attr('data-inhouse').toLowerCase() == true) {
            var shippaid = $('#liShippingPaid')[0].innerText;
            if ($("#liOrderDate")[0].innerText != null && $("#liOrderDate")[0].innerText != "" && $("#liOrderDate")[0].innerText != undefined) {
                shipdate = $("#liOrderDate")[0].innerText;
            }
            var date = shipdate.split("/");
            var getdate = new Date(date[2], date[0] - 1, date[1]);
            var numberOfDaysToAdd = 4;
            getdate.setDate(getdate.getDate() + numberOfDaysToAdd);
            var dd = getdate.getDate();
            var mm = getdate.getMonth() + 1;
            var y = getdate.getFullYear();

            var someFormattedDate = mm + '-' + dd + '-' + y;
            var DeliverDate = '@Model.DeliverDate';
            $("#span_Rate")[0].innerText = shippaid;
            $("#spn_deliveryTime").val(DeliverDate);
            $("#spn_deliveryTime")[0].innerText = DeliverDate;
            return;
        }
        // from address data
        var fromcompanyname = null;
        var fromname = null;
        var fromphone = null;
        var fromaddressline1 = null;
        var fromaddressline2 = null;
        var fromcitylocality = null;
        var fromstateprovince = null;
        var frompostalcode = null;
        var fromcountrycode = null;
        var fromaddress_residential_indicator = null;

        // to address data
        var toname = null;
        var tophone = null;
        var toaddressline1 = null;
        var tocitylocality = null;
        var tostateprovince = null;
        var topostalcode = null;
        var tocountrycode = null;
        var toaddress_residential_indicator = null;

        var carrierids = [];
        var servicecodes = [];

        var packagetypes = [];


        var weightlb = null;
        var weightoz = null;

        var sizelength = null;
        var sizewidth = null;
        var sizeheight = null;

        var storeid = null;

        if ($("#spn_storeName")[0].innerText != null && $("#spn_storeName")[0].innerText != "" && $("#spn_storeName")[0].innerText != undefined) {
            fromcompanyname = $("#spn_storeName")[0].innerText;
        }
        if ($('#drlShipFrom').find(":selected").text() != null && $('#drlShipFrom').find(":selected").text() != "" && $('#drlShipFrom').find(":selected").text() != undefined) {
            fromname = $('#drlShipFrom').find(":selected").text();
        }
        if ($("#hfStoreAddress").val() != null && $("#hfStoreAddress").val() != "" && $("#hfStoreAddress").val() != undefined) {
            fromaddressline1 = $("#hfStoreAddress").val();
        }
        if ($("#hfStoreCity").val() != null && $("#hfStoreCity").val() != "" && $("#hfStoreCity").val() != undefined) {
            fromcitylocality = $("#hfStoreCity").val();
        }
        if ($("#hfStoreState").val() != null && $("#hfStoreState").val() != "" && $("#hfStoreState").val() != undefined) {
            fromstateprovince = $("#hfStoreState").val();
        }
        if ($("#hfStoreZipCode").val() != null && $("#hfStoreZipCode").val() != "" && $("#hfStoreZipCode").val() != undefined) {
            frompostalcode = $("#hfStoreZipCode").val();
        }
        if ($("#hfStoreCountry").val() != null && $("#hfStoreCountry").val() != "" && $("#hfStoreCountry").val() != undefined) {
            fromcountrycode = $("#hfStoreCountry").val();
        }
        if ($("#hfStorePhone").val() != null && $("#hfStorePhone").val() != "" && $("#hfStorePhone").val() != undefined) {
            fromphone = $("#hfStorePhone").val();
        }

        if ($("#liBuyName")[0].innerText != null && $("#liBuyName")[0].innerText != "" && $("#liBuyName")[0].innerText != undefined) {
            toname = $("#liBuyName")[0].innerText;
        }
        if ($("#liBuyAddress")[0].innerText != null && $("#liBuyAddress")[0].innerText != "" && $("#liBuyAddress")[0].innerText != undefined) {
            toaddressline1 = $("#liBuyAddress")[0].innerText;
        }
        if ($("#liBuyCity")[0].innerText != null && $("#liBuyCity")[0].innerText != "" && $("#liBuyCity")[0].innerText != undefined) {
            tocitylocality = $("#liBuyCity")[0].innerText;
        }
        if ($("#liBuyState")[0].innerText != null && $("#liBuyState")[0].innerText != "" && $("#liBuyState")[0].innerText != undefined) {
            tostateprovince = $("#liBuyState")[0].innerText;
        }
        if ($("#liBuyZipcode")[0].innerText != null && $("#liBuyZipcode")[0].innerText != "" && $("#liBuyZipcode")[0].innerText != undefined) {
            topostalcode = $("#liBuyZipcode")[0].innerText;
        }
        if ($("#liBuyCountry")[0].innerText != null && $("#liBuyCountry")[0].innerText != "" && $("#liBuyCountry")[0].innerText != undefined) {
            tocountrycode = $("#liBuyCountry")[0].innerText;
        }
        if ($("#liBuyPhone")[0].innerText != null && $("#liBuyPhone")[0].innerText != "" && $("#liBuyPhone")[0].innerText != undefined) {
            tophone = $("#liBuyPhone")[0].innerText;
        }

        if ($("#drlPackage").val() != null && $("#drlPackage").val() != "" && $("#drlPackage").val() != undefined) {
            var packageid = $("#drlPackage").val();
            var packagename = $("#drlPackage")[0].innerText;
            packagetypes.push(packagename);
        }
        else {
            packagetypes.push('Package');
        }

        if ($("#liOrderDate")[0].innerText != null && $("#liOrderDate")[0].innerText != "" && $("#liOrderDate")[0].innerText != undefined) {
            shipdate = $("#liOrderDate")[0].innerText;
        }
        if ($("#drlService").val() != null && $("#drlService").val() != "" && $("#drlService").val() != undefined) {
            service = $("#drlService").val();
            //service = 'US-PM';
        }
        else {
            service = 'US-PM';
        }

        if ($("#drlService").val() != null && $("#drlService").val() != "" && $("#drlService").val() != undefined) {
            var cid = $('#drlService option:selected').attr('data-carrierid');
            var sercode = $('#drlService option:selected').attr('data-servicecode');
            carrierids.push(cid);
            servicecodes.push(sercode);
        }

        if ($("#txtWeightLB").val() != null && $("#txtWeightLB").val() != "" && $("#txtWeightLB").val() != undefined) {
            weightlb = $("#txtWeightLB").val();
        }
        if ($("#txtWeightOZ").val() != null && $("#txtWeightOZ").val() != "" && $("#txtWeightOZ").val() != undefined) {
            weightoz = $("#txtWeightOZ").val();
        }

        if ($("#txtsize1").val() != null && $("#txtsize1").val() != "" && $("#txtsize1").val() != undefined) {
            sizelength = $("#txtsize1").val();
        }
        if ($("#txtsize2").val() != null && $("#txtsize2").val() != "" && $("#txtsize2").val() != undefined) {
            sizewidth = $("#txtsize2").val();
        }
        if ($("#txtsize3").val() != null && $("#txtsize3").val() != "" && $("#txtsize3").val() != undefined) {
            sizeheight = $("#txtsize3").val();
        }
        if ($("#span_Rate")[0].innerText != null && $("#span_Rate")[0].innerText != "" && $("#span_Rate")[0].innerText != undefined) {
            rate = $("#span_Rate")[0].innerText;
        }

        if ($("#hfStoreId").val() != null && $("#hfStoreId").val() != "" && $("#hfStoreId").val() != undefined) {
            storeid = $("#hfStoreId").val();
        }

        var jsonObjRates = {
            "rate_options": {
                "carrier_ids": carrierids,
                "package_types": packagetypes,
                "service_codes": servicecodes
            },
            "shipment": {
                "validate_address": "no_validation",
                "ship_to": {
                    "name": toname,
                    "phone": tophone,
                    "address_line1": toaddressline1,
                    "city_locality": tocitylocality,
                    "state_province": tostateprovince,
                    "postal_code": topostalcode,
                    "country_code": tocountrycode,
                    "address_residential_indicator": "yes"
                },
                "ship_from": {
                    "company_name": fromcompanyname,
                    "name": fromname,
                    "phone": fromphone,
                    "address_line1": fromaddressline1,
                    "address_line2": fromaddressline2,
                    "city_locality": fromcitylocality,
                    "state_province": fromstateprovince,
                    "postal_code": frompostalcode,
                    "country_code": fromcountrycode,
                    "address_residential_indicator": "no"
                },
                "packages": [
                    {
                        "weight": {
                            "value": weightlb,
                            "unit": "ounce"
                        },
                        "dimensions": {
                            "unit": "inch",
                            "length": sizelength,
                            "width": sizewidth,
                            "height": sizeheight
                        }
                    }
                ]
            }
        };

        $.ajax({
            type: "POST",
            url: "/Order/GetShipRates",
            //contentType: "application/json; charset=utf-8",
            //dataType: "json",
            data: { getrates: jsonObjRates, StoreId:storeid },
            success: function (response) {
                if (response != null) {
                    $("#span_Rate")[0].innerText = response.Amount;
                    $("#spn_deliveryTime").val(response.Deliverydate);
                    $("#spn_deliveryTime")[0].innerText = response.Deliverydate;
                }
            },
            error: function (response) {
                alert(response.statusText);
            }
        });
    }

    function onCreateLabelClick() {

        if ($("#txtWeightLB").val() == null || $("#txtWeightLB").val() == "" || $("#txtWeightLB").val() == undefined) {
            alert("Please enter weight (lb)");
            return;
        }
        if ($("#txtWeightOZ").val() == null || $("#txtWeightOZ").val() == "" || $("#txtWeightOZ").val() == undefined) {
            alert("Please enter weight (oz)");
            return;
        }

        if ($("#txtsize1").val() == null || $("#txtsize1").val() == "" || $("#txtsize1").val() == undefined) {
            alert("Please enter size");
            return;
        }
        if ($("#txtsize2").val() == null || $("#txtsize2").val() == "" || $("#txtsize2").val() == undefined) {
            alert("Please enter size");
            return;
        }
        if ($("#txtsize3").val() == null || $("#txtsize3").val() == "" || $("#txtsize3").val() == undefined) {
            alert("Please enter size");
            return;
        }

        // from address data
        var fromcompanyname = null;
        var fromname = null;
        var fromphone = null;
        var fromaddressline1 = null;
        var fromaddressline2 = null;
        var fromcitylocality = null;
        var fromstateprovince = null;
        var frompostalcode = null;
        var fromcountrycode = null;
        var fromaddress_residential_indicator = null;

        // to address data
        var toname = null;
        var tophone = null;
        var toaddressline1 = null;
        var tocitylocality = null;
        var tostateprovince = null;
        var topostalcode = null;
        var tocountrycode = null;
        var toaddress_residential_indicator = null;

        var carrierids = [];
        var servicecodes = [];

        var packagetypes = [];

        var shipdate = null;
        var weightlb = null;
        var weightoz = null;

        var sizelength = null;
        var sizewidth = null;
        var sizeheight = null;
        var rate = null;

        var storeid = null;

        if ($("#spn_storeName")[0].innerText != null && $("#spn_storeName")[0].innerText != "" && $("#spn_storeName")[0].innerText != undefined) {
            fromcompanyname = $("#spn_storeName")[0].innerText;
        }
        if ($('#drlShipFrom').find(":selected").text() != null && $('#drlShipFrom').find(":selected").text() != "" && $('#drlShipFrom').find(":selected").text() != undefined) {
            fromname = $('#drlShipFrom').find(":selected").text();
        }
        if ($("#hfStoreAddress").val() != null && $("#hfStoreAddress").val() != "" && $("#hfStoreAddress").val() != undefined) {
            fromaddressline1 = $("#hfStoreAddress").val();
        }
        if ($("#hfStoreCity").val() != null && $("#hfStoreCity").val() != "" && $("#hfStoreCity").val() != undefined) {
            fromcitylocality = $("#hfStoreCity").val();
        }
        if ($("#hfStoreState").val() != null && $("#hfStoreState").val() != "" && $("#hfStoreState").val() != undefined) {
            fromstateprovince = $("#hfStoreState").val();
        }
        if ($("#hfStoreZipCode").val() != null && $("#hfStoreZipCode").val() != "" && $("#hfStoreZipCode").val() != undefined) {
            frompostalcode = $("#hfStoreZipCode").val();
        }
        if ($("#hfStoreCountry").val() != null && $("#hfStoreCountry").val() != "" && $("#hfStoreCountry").val() != undefined) {
            fromcountrycode = $("#hfStoreCountry").val();
        }
        if ($("#hfStorePhone").val() != null && $("#hfStorePhone").val() != "" && $("#hfStorePhone").val() != undefined) {
            fromphone = $("#hfStorePhone").val();
        }

        if ($("#liBuyName")[0].innerText != null && $("#liBuyName")[0].innerText != "" && $("#liBuyName")[0].innerText != undefined) {
            toname = $("#liBuyName")[0].innerText;
        }
        if ($("#liBuyAddress")[0].innerText != null && $("#liBuyAddress")[0].innerText != "" && $("#liBuyAddress")[0].innerText != undefined) {
            toaddressline1 = $("#liBuyAddress")[0].innerText;
        }
        if ($("#liBuyCity")[0].innerText != null && $("#liBuyCity")[0].innerText != "" && $("#liBuyCity")[0].innerText != undefined) {
            tocitylocality = $("#liBuyCity")[0].innerText;
        }
        if ($("#liBuyState")[0].innerText != null && $("#liBuyState")[0].innerText != "" && $("#liBuyState")[0].innerText != undefined) {
            tostateprovince = $("#liBuyState")[0].innerText;
        }
        if ($("#liBuyZipcode")[0].innerText != null && $("#liBuyZipcode")[0].innerText != "" && $("#liBuyZipcode")[0].innerText != undefined) {
            topostalcode = $("#liBuyZipcode")[0].innerText;
        }
        if ($("#liBuyCountry")[0].innerText != null && $("#liBuyCountry")[0].innerText != "" && $("#liBuyCountry")[0].innerText != undefined) {
            tocountrycode = $("#liBuyCountry")[0].innerText;
        }
        if ($("#liBuyPhone")[0].innerText != null && $("#liBuyPhone")[0].innerText != "" && $("#liBuyPhone")[0].innerText != undefined) {
            tophone = $("#liBuyPhone")[0].innerText;
        }

        if ($("#drlPackage").val() != null && $("#drlPackage").val() != "" && $("#drlPackage").val() != undefined) {
            var packageid = $("#drlPackage").val();
            var packagename = $("#drlPackage")[0].innerText;
            packagetypes.push(packagename);
        }
        else {
            packagetypes.push('Package');
        }

        if ($("#liOrderDate")[0].innerText != null && $("#liOrderDate")[0].innerText != "" && $("#liOrderDate")[0].innerText != undefined) {
            shipdate = $("#liOrderDate")[0].innerText;
        }
        if ($("#drlService").val() != null && $("#drlService").val() != "" && $("#drlService").val() != undefined) {
            service = $('#drlService option:selected').attr('data-servicecode');
            //service = 'US-PM';
        }
        else {
            service = 'US-PM';
        }

        if ($("#drlService").val() != null && $("#drlService").val() != "" && $("#drlService").val() != undefined) {
            var cid = $('#drlService option:selected').attr('data-carrierid')
            var sercode = $('#drlService option:selected').attr('data-servicecode')
            carrierids.push(cid);
            servicecodes.push(sercode);
        }

        if ($("#txtWeightLB").val() != null && $("#txtWeightLB").val() != "" && $("#txtWeightLB").val() != undefined) {
            weightlb = $("#txtWeightLB").val();
        }
        if ($("#txtWeightOZ").val() != null && $("#txtWeightOZ").val() != "" && $("#txtWeightOZ").val() != undefined) {
            weightoz = $("#txtWeightOZ").val();
        }

        if ($("#txtsize1").val() != null && $("#txtsize1").val() != "" && $("#txtsize1").val() != undefined) {
            sizelength = $("#txtsize1").val();
        }
        if ($("#txtsize2").val() != null && $("#txtsize2").val() != "" && $("#txtsize2").val() != undefined) {
            sizewidth = $("#txtsize2").val();
        }
        if ($("#txtsize3").val() != null && $("#txtsize3").val() != "" && $("#txtsize3").val() != undefined) {
            sizeheight = $("#txtsize3").val();
        }
        if ($("#span_Rate")[0].innerText != null && $("#span_Rate")[0].innerText != "" && $("#span_Rate")[0].innerText != undefined) {
            rate = $("#span_Rate")[0].innerText;
        }

        if ($("#hfStoreId").val() != null && $("#hfStoreId").val() != "" && $("#hfStoreId").val() != undefined) {
            storeid = $("#hfStoreId").val();
        }

        var shipmentdate = null;
        if ($("#spn_deliveryTime").val() != null && $("#spn_deliveryTime").val() != "" && $("#spn_deliveryTime").val() != undefined) {
            shipmentdate = $("#spn_deliveryTime").val();
        }

        var orderid = null;

        if ('@Model.OrderId' != null && '@Model.OrderId' != "" && '@Model.OrderId' != undefined) {
            orderid = '@Model.OrderId';
        }

        var selectedZoneId = null;

        if ('@Model.SelectedZoneId' != null && '@Model.SelectedZoneId' != "" && '@Model.SelectedZoneId' != undefined) {
            selectedZoneId = '@Model.SelectedZoneId';
        }

         var selectedZoneName = null;

        if ('@Model.SelectedZoneName' != null && '@Model.SelectedZoneName' != "" && '@Model.SelectedZoneName' != undefined) {
            selectedZoneName = '@Model.SelectedZoneName';
        }

        var jsonObjLabel = {
            "ShipmentDate": shipmentdate,
            "OrderId": orderid,
            "ZoneId": selectedZoneId,
            "shipment": {
                "service_code": service,
                "ship_to": {
                    "name": toname,
                    "phone": tophone,
                    "address_line1": toaddressline1,
                    "city_locality": tocitylocality,
                    "state_province": tostateprovince,
                    "postal_code": topostalcode,
                    "country_code": tocountrycode,
                    "address_residential_indicator": "yes"
                },
                "ship_from": {
                    "company_name": fromcompanyname,
                    "name": fromname,
                    "phone": fromphone,
                    "address_line1": fromaddressline1,
                    "address_line2": fromaddressline2,
                    "city_locality": fromcitylocality,
                    "state_province": fromstateprovince,
                    "postal_code": frompostalcode,
                    "country_code": fromcountrycode,
                    "address_residential_indicator": "no"
                },
                "packages": [
                    {
                        "weight": {
                            "value": weightlb,
                            "unit": "ounce"
                        },
                        "dimensions": {
                            "unit": "inch",
                            "length": sizelength,
                            "width": sizewidth,
                            "height": sizeheight
                        }
                    }
                ]
            }
        };

        if ($('#drlService option:selected').attr('data-inhouse').toLowerCase() == "true" || $('#drlService option:selected').attr('data-inhouse').toLowerCase() == true) {
            var orderid = '@Model.OrderId';
            var DeliverDate = '@Model.DeliverDate';
            $.ajax({
                type: "POST",
                url: "/Order/InhouseLabel",
                //contentType: "application/json; charset=utf-8",
                //dataType: "json",
                data: { getlabel: jsonObjLabel, StoreId: storeid, OrderId: orderid, DeliveryDate: DeliverDate },
                success: function (response) {
                    $("#divInhouseLabel").html(response);
                    //var zonename = null;
                    //if ($("#drlService").val() != null && $("#drlService").val() != "" && $("#drlService").val() != undefined) {
                    //    zonename  = $("#drlService").val();
                    //}
                    var sertype = null;
                    if ($('#drlService option:selected').text() != null && $('#drlService option:selected').text() != "" && $('#drlService option:selected').text() != undefined) {
                        sertype = $('#drlService option:selected').text();
                    }

                    var t = "";
                    t += '<tr>' +
                        '<td>' +
                        '<p class="mb-0" name="p_ShipDate">' + $("#spn_deliveryTime").val() + '</p>' +
                        '<p class="mb-0" name="p_ShipZone"><i class="fa fa-arrow-right">' + selectedZoneName + '</i></p>' +
                        '</td>' +
                        '<td>' +
                        '<p class="mb-0 text-primary" name="p_TrackingId">' + orderid + '</p>' +
                        '<p class="mb-0 text-dark" name="p_Insurance">' + sertype + '</p>' +
                        '</td>' +
                        '<td>' +
                        '<i class="fa fa-check-circle text-success" name="ship_status"></i>' +
                        '</td>' +
                        '</tr>';
            $('#tbl_shipDetail tbody').empty();
            $('#tbl_shipDetail tbody').append(t);

                    @*$("#p_ShipDate").val($("#spn_deliveryTime").val());
                    $("#p_ShipDate")[0].innerText = $("#spn_deliveryTime").val();
                    $("#p_ShipZone").val("");
                    $("#p_ShipZone")[0].innerText = "";
                    var orderid = '@Model.OrderId';
                    $("#p_TrackingId").val(orderid);
                    $("#p_TrackingId")[0].innerText = orderid;
                    //var service = $('#drlService option:selected').text();
                    $("#p_Insurance").val(service);
                    $("#p_Insurance")[0].innerText = service;
                    $("#ship_status").attr("style", "display:inline");*@
                    //var b = $("#divInhouseLabel").html();
                    newWindow_method_1();

                    @*var dataToSend = JSON.stringify({ 'Html': b });
                    $.ajax({
                        type: "POST",
                        url: "/Order/getpdfHtmlStringData",
                        contentType: "application/json; charset=utf-8",
                        //dataType: "json",
                        data: dataToSend ,
                        success: function (response) {
                            var res = response;
                            if (res != null && res != '' && res != undefined) {
                                if (res.success) {
                                    var orderid = '@Model.OrderId';
                                    //window.location = '/Order/DownloadPDF?fileName=' + orderid;
                                    $("#divInhouseLabel").attr('style', 'display:block');
                                    $("#divInhouseLabel").printThis({

                                    });
                                    $("#divInhouseLabel").attr('style', 'display:none');
                                }
                                else {
                                    alert("Unable to download Label");
                                }

                            }
                            else {
                                alert("Unable to download Label");
                            }
                        }
                    });*@
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
        else {
            $.ajax({
                type: "POST",
                url: "/Order/GetLabels",
                //contentType: "application/json; charset=utf-8",
                //dataType: "json",
                data: { getlabel: jsonObjLabel, StoreId: storeid },
                success: function (response) {
                    if (response != null) {
                        var res = response; //spn_deliveryTime
                        //$("#spn_deliveryTime").val(res.DeliveryDate);
                        //$("#spn_deliveryTime")[0].innerText = res.DeliveryDate;
                        var t = "";
                        if (res.shippingDetailsByOrdersList.length > 0) {
                            $.each(res.shippingDetailsByOrdersList, function (i, v) {
                                var shipdate = '';
                                var zonename = '';
                                var tranckingnumber = '';
                                var servicetype = '';
                                if (v.ShipDate != null && v.ShipDate != "" && v.ShipDate != undefined) {
                                    shipdate = v.ShipDate;
                                }
                                if (res.ZoneName != null && res.ZoneName != "" && res.ZoneName != undefined) {
                                    zonename = res.ZoneName;
                                }
                                if (v.TrackingNumber != null && v.TrackingNumber != "" && v.TrackingNumber != undefined) {
                                    tranckingnumber = v.TrackingNumber;
                                }
                                if (v.ServiceType != null && v.ServiceType != "" && v.ServiceType != undefined) {
                                    servicetype = v.ServiceType;
                                }
                                t += '<tr>' +
                                        '<td>' +
                                            '<p class="mb-0" name="p_ShipDate">' + shipdate + '</p>' +
                                            '<p class="mb-0" name="p_ShipZone"><i class="fa fa-arrow-right">' + zonename+'</i></p>' +
                                        '</td>' +
                                        '<td>' +
                                            '<p class="mb-0 text-primary" name="p_TrackingId">' + tranckingnumber + '</p>' +
                                            '<p class="mb-0 text-dark" name="p_Insurance">' + servicetype +'</p>' +
                                        '</td>' +
                                        '<td>' +
                                            '<i class="fa fa-check-circle text-success" name="ship_status"></i>' +
                                        '</td>' +
                                    '</tr>';
                            });
                            $('#tbl_shipDetail tbody').empty();
                            $('#tbl_shipDetail tbody').append(t);
                        }

                        //$("#p_ShipDate").val($("#spn_deliveryTime").val());
                        //$("#p_ShipDate")[0].innerText = $("#spn_deliveryTime").val();
                        //$("#p_ShipZone").val(res.ZoneName);
                        //$("#p_ShipZone")[0].innerText = res.ZoneName;
                        //$("#p_TrackingId").val(res.TrackingNumber);
                        //$("#p_TrackingId")[0].innerText = res.TrackingNumber;
                        //$("#p_Insurance").val(res.ServiceType);
                        //$("#p_Insurance")[0].innerText = res.ServiceType;
                        //$("#ship_status").attr("style", "display:inline");

                        @*if (res.Url != null && res.Url != '' && res.Url != undefined) {
                            var orderid = '@Model.OrderId';
                            window.location = '/Order/DownloadPDF?fileName=' + orderid;
                        }
                        else {
                            alert("Unable to download Label");
                        }*@
                        var win = window.open(response.Url, '_blank');
                        if (win) {
                            //Browser has allowed it to be opened
                            win.focus();
                        } else {
                            //Browser has blocked it
                            alert('Please allow popups for this website');
                            }
                    }
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
    }

    function newWindow_method_1() {
        var wi = window.open();
        var html = $("#divInhouseLabel").html();
        var html2 = $("#divtbl_PackingSlip").html();
        //html.append($("#tbl_PackingSlip").html());
        //var w = window.open('', 'divInhouseLabel', 'width=288,height=432');
        //var html = $("#divInhouseLabel").html();
        //$(w.document.body).html(html);
        //w.print();

        //printJS({
        //    maxWidth: 228, // the width of your paper
        //    printable: 'tblInhouse', // the id
        //    type: 'html',
        //    css: 'PrintOrderTable.css' // your css
        //});

        var qtycount = '@qtyCount';

        $(wi.document.body).html(html);
        $(wi.document.body).append(html2);

        for (var i = 8; i <= qtycount && qtycount != 8; i+=8) {
            $(wi.document.body).append(html);
            $(wi.document.body).append(html2);
        }    
        
        setTimeout(function () {
            wi.document.title = "InHouseLabels";
            wi.print();
        }, 200);
    }

    //function newWindow_method_2() {

    //    var html = $('.mainservice-page').html();
    //    window.open(html, "__new", "width=1000,height=1000");

    //}
    @*window.onbeforeunload = function () {
        var storeid = '@Model.StoreId';
        var DeliverDate = '@Model.DeliverDate';
        window.location.href = '@Url.Action("OrderDetails", "Order")?StoreId=' + storeid +'&redirectedDeliverDate=' + DeliverDate ;
    };*@

</script>
