@model OneposStamps.Models.GetZoneSingleData

@{
    var storeInfo = Session["StoreInfo"] == null ? new OneposStamps.Models.Store() : (OneposStamps.Models.Store)Session["StoreInfo"];
    ViewBag.Title = "EditZone";
}

<body data-layout="horizontal" class="dark-topbar">


    <div class="page-wrapper">
        <!-- Page Content-->
        <div class="page-content">

            <div class="container-fluid">
                <!-- Page-Title -->
                <div class="row justify-content-center">
                    <div class="col-sm-4">
                        <div class="page-title-box d-flex align-items-center">
                            <a onclick="openhomeview()" class="btn btn-outline-primary btn-round waves-effect waves-light mr-3"><i class="mdi mdi-keyboard-backspace mr-2"></i>Back</a>                            
                                <h4 class="page-title font-weight-bold">Edit Zone</h4>
                        </div><!--end page-title-box-->
                    </div><!--end col-->

                </div>
                <!-- end page title end breadcrumb -->

                <div class="row justify-content-center">
                    <div class="col-sm-4">

                        <div class="card">
                            <div class="card-body">

                                <form action="" id="frmZone" class="mb-5">
                                    <input type="hidden" id="hfzoneid" value="@Model.ZoneId" />
                                    <div class="form-group">
                                        <label for="txtZone">Zone Name</label>
                                        <input type="text" id="txtZone" class="form-control" value="@Model.ZoneName" placeholder="Zone name" />
                                        <span role="alert" data-for="txtZone" class="text-danger" id="span_txtZone">please enter zone</span>
                                    </div>
                                    <div class="form-group">
                                        <label for="drlCarrier">Carrier Name</label>
                                        <select name="drlCarrier" id="drlCarrier" class="form-control">
                                            <option value="0">Select Carrier</option>
                                            @foreach (var item in Model.CarrierList)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                        <span role="alert" data-for="drlCarrier" class="text-danger" id="span_drlCarrier">please select carrier</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="txtShipFee">Shipment Fee</label>
                                                <div class="input-group mb-3">
                                                    <input type="text" id="txtShipFee" value="@Model.ShipmentFee" class="form-control" placeholder="Payment" />
                                                    <span class="input-group-text">$</span>
                                                    <span role="alert" data-for="txtShipFee" class="text-danger" id="span_txtShipFee">please enter shipment fee</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="txtWeight">Weight</label>
                                                <div class="input-group mb-3">
                                                    <input type="number" id="txtWeight" value="@Model.Weight" style="width: 80%;" class="form-control" placeholder="Weight" />
                                                    <span class="input-group-text">LB</span>
                                                    <span role="alert" data-for="txtWeight" class="text-danger" style="margin-top:1px" id="span_txtWeight">please enter weight</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="drlServiceType">Service Type</label>
                                                <select name="drlServiceType" id="drlServiceType" class="form-control">
                                                    <option value="0">Select Service</option>
                                                    @foreach (var item in Model.ServiceList)
                                                    {
                                                        <option value="@item.Id">@item.Name</option>
                                                    }
                                                </select>
                                                <span role="alert" data-for="drlServiceType" class="text-danger" id="span_drlServiceType">please select service type</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="drlPackage">Package</label>
                                                <select name="drlPackage" id="drlPackage" class="form-control">
                                                    <option value="0">Select Package</option>
                                                    @foreach (var item in Model.PackageList)
                                                    {
                                                        <option value="@item.Id">@item.Name</option>
                                                    }
                                                </select>
                                                <span role="alert" data-for="drlPackage" class="text-danger" id="span_drlPackage">please select package</span>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="">Package Size</label>
                                                <div class="form-group d-flex align-items-center" style="margin-bottom:1%">
                                                    <input type="number" id="txtlength" value="@Model.Length" class="form-control form-control-sm" placeholder="0" />
                                                    <span class="mx-2">(X)</span>

                                                    <input type="number" id="txtbreadth" value="@Model.Breadth" class="form-control form-control-sm" placeholder="0" />
                                                    <span class="mx-2">(X)</span>

                                                    <input type="number" id="txtheight" value="@Model.Height" class="form-control form-control-sm mr-3" placeholder="0" />
                                                    <span>(in)</span>

                                                </div>
                                                <div class="form-group d-flex align-items-center">
                                                    <div style="width:33%">
                                                        <span role="alert" class="text-danger" data-for="txtlength" id="span_txtlength">length required</span>
                                                    </div>
                                                    <div style="width:33%">
                                                        <span role="alert" class="text-danger" data-for="txtbreadth" id="span_txtbreadth">breadth required</span>
                                                    </div>
                                                    <div style="width:33%">
                                                        <span role="alert" class="text-danger" data-for="txtheight" id="span_txtheight">height required</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>

                                    <div class="text-center" style="margin-top:2%">
                                        <input type='button' onclick="performAction()" id='btnSave' class="btn btn-primary" value='Update Zone' />
                                    </div>
                                </form>

                            </div>
                        </div>


                    </div>


                </div>

            </div><!-- container -->

        </div>
        <!-- end page content -->
    </div>
    <!-- end page-wrapper -->


    <div class="alert alert-success alert-dismissible fade show float-alert" style="display:none" id="divSuccess" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="mdi mdi-close"></i></span>
        </button>
        Zone updated <strong>Successfully.</strong>
    </div>






</body>

<script>

    $(document).ready(function () {
        $("#span_txtZone").attr("style", "display:none");
        $("#span_drlCarrier").attr("style", "display:none");
        $("#span_txtShipFee").attr("style", "display:none");
        $("#span_txtWeight").attr("style", "display:none");
        $("#span_drlServiceType").attr("style", "display:none");
        $("#span_drlPackage").attr("style", "display:none");
        $("#span_txtlength").attr("style", "display:none");
        $("#span_txtbreadth").attr("style", "display:none");
        $("#span_txtheight").attr("style", "display:none");

        var CarrierId = '@Model.CarrierId';
        var ServiceTypeId = '@Model.ServiceTypeId';
        var PackageId = '@Model.PackageId';
        if (CarrierId != null && CarrierId != "" && CarrierId != undefined) {
            $("#drlCarrier option[value='" + CarrierId + "']").attr('selected', 'selected');
        }
        if (ServiceTypeId != null && ServiceTypeId != "" && ServiceTypeId != undefined) {
            $("#drlServiceType option[value='" + ServiceTypeId + "']").attr('selected', 'selected');
        }
        if (PackageId != null && PackageId != "" && PackageId != undefined) {
            $("#drlPackage option[value='" + PackageId + "']").attr('selected', 'selected');
        }

        $('#txtZone').on('blur', function () {
            if ($("#txtZone").val() == "") {
                $("#span_txtZone").attr("style", "display:inline");
                zoneflag = 1;
            }
            else if (/[^a-zA-Z ]/.test($("#txtZone").val())) {
                $("#span_txtZone").html("please fill with text only, numbers not supported.");
                $("#span_txtZone").attr("style", "display:inline");
                zoneflag = 1;
            }
            else {
                $("#span_txtZone").attr("style", "display:none");
                zoneflag = 0;
            }
        });

        $('#drlCarrier').on('blur', function () {
            if ($("#drlCarrier").val() == "" || $("#drlCarrier").val() == 0) {
                $("#span_drlCarrier").attr("style", "display:inline");
                carrierflag = 1;
            }
            else {
                $("#span_drlCarrier").attr("style", "display:none");
                carrierflag = 0;
            }
        });

        $('#txtShipFee').on('blur', function () {
            if ($("#txtShipFee").val() == "") {
                $("#span_txtShipFee").attr("style", "display:inline");
                shipfeeflag = 1;
            }
            else {
                $("#span_txtShipFee").attr("style", "display:none");
                shipfeeflag = 0;
            }
        });

        $('#txtWeight').on('blur', function () {
            if ($("#txtWeight").val() == "") {
                $("#span_txtWeight").attr("style", "display:inline");
                weightflag = 1;
            }
            else {
                $("#span_txtWeight").attr("style", "display:none");
                weightflag = 0;
            }
        });

        $('#drlServiceType').on('blur', function () {
            if ($("#drlServiceType").val() == "" || $("#drlServiceType").val() == 0) {
                $("#span_drlServiceType").attr("style", "display:inline");
                servicetypeflag = 1;
            }
            else {
                $("#span_drlServiceType").attr("style", "display:none");
                servicetypeflag = 0;
            }
        });

        $('#drlPackage').on('blur', function () {
            if ($("#drlPackage").val() == "" || $("#drlPackage").val() == 0) {
                $("#span_drlPackage").attr("style", "display:inline");
                packageflag = 1;
            }
            else {
                $("#span_drlPackage").attr("style", "display:none");
                packageflag = 0;
            }
        });

        $('#txtlength').on('blur', function () {
            if ($("#txtlength").val() == "") {
                $("#span_txtlength").attr("style", "display:inline;  ");
                lengthflag = 1;
            }
            else {
                $("#span_txtlength").attr("style", "display:none");
                lengthflag = 0;
            }
        });

        $('#txtbreadth').on('blur', function () {
            if ($("#txtbreadth").val() == "") {
                $("#span_txtbreadth").attr("style", "display:inline;  ");
                breadthflag = 1;
            }
            else {
                $("#span_txtbreadth").attr("style", "display:none");
                breadthflag = 0;
            }
        });

        $('#txtheight').on('blur', function () {
            if ($("#txtheight").val() == "") {
                $("#span_txtheight").attr("style", "display:inline;  ");
                heightflag = 1;
            }
            else {
                $("#span_txtheight").attr("style", "display:none");
                heightflag = 0;
            }
        });

    });

    function openhomeview() {
        var storeids = "@Model.Store_Id";
        window.location.href = '@Url.Action("Index", "Zone")?store=' + storeids;
    }

    var zoneflag = 0;
    var carrierflag = 0;
    var shipfeeflag = 0;
    var weightflag = 0;
    var servicetypeflag = 0;
    var packageflag = 0;
    var lengthflag = 0;
    var breadthflag = 0;
    var heightflag = 0;

    var ctr = 0;
    function performAction(e) {

        if (ctr == 0) {

            if ($("#txtZone").val() == "") {
                $("#span_txtZone").attr("style", "display:inline");
                zoneflag = 1;
            }
            else if (/[^a-zA-Z ]/.test($("#txtZone").val())) {
                $("#span_txtZone").html("please fill with only text, Numbers not supported.");
                $("#span_txtZone").attr("style", "display:inline");
                fnameflag = 1;
            }
            else {
                $("#span_txtZone").attr("style", "display:none");
                zoneflag = 0;
            }

            if ($("#drlCarrier").val() == "" || $("#drlCarrier").val() == 0) {
                $("#span_drlCarrier").attr("style", "display:inline");
                carrierflag = 1;
            }
            else {
                $("#span_drlCarrier").attr("style", "display:none");
                carrierflag = 0;
            }

            if ($("#txtShipFee").val() == "") {
                $("#span_txtShipFee").attr("style", "display:inline");
                shipfeeflag = 1;
            }
            else {
                $("#span_txtShipFee").attr("style", "display:none");
                shipfeeflag = 0;
            }

            if ($("#txtWeight").val() == "") {
                $("#span_txtWeight").attr("style", "display:inline");
                weightflag = 1;
            }
            else {
                $("#span_txtWeight").attr("style", "display:none");
                weightflag = 0;
            }

            if ($("#drlServiceType").val() == "" || $("#drlServiceType").val() == 0) {
                $("#span_drlServiceType").attr("style", "display:inline");
                servicetypeflag = 1;
            }
            else {
                $("#span_drlServiceType").attr("style", "display:none");
                servicetypeflag = 0;
            }

            if ($("#drlPackage").val() == "" || $("#drlPackage").val() == 0) {
                $("#span_drlPackage").attr("style", "display:inline");
                packageflag = 1;
            }
            else {
                $("#span_drlPackage").attr("style", "display:none");
                packageflag = 0;
            }

            if ($("#txtlength").val() == "") {
                $("#span_txtlength").attr("style", "display:inline;  ");
                lengthflag = 1;
            }
            else {
                $("#span_txtlength").attr("style", "display:none");
                lengthflag = 0;
            }

            if ($("#txtbreadth").val() == "") {
                $("#span_txtbreadth").attr("style", "display:inline;  ");
                breadthflag = 1;
            }
            else {
                $("#span_txtbreadth").attr("style", "display:none");
                breadthflag = 0;
            }

            if ($("#txtheight").val() == "") {
                $("#span_txtheight").attr("style", "display:inline;  ");
                heightflag = 1;
            }
            else {
                $("#span_txtheight").attr("style", "display:none");
                heightflag = 0;
            }

            if (zoneflag == 0 && carrierflag == 0 && shipfeeflag == 0 && weightflag == 0 && servicetypeflag == 0
                    && packageflag == 0 && lengthflag == 0 && breadthflag == 0 && heightflag == 0 ) {
                onsave();
            }
            else {
                event.preventDefault();
            }
        }
    }


    function onsave() {
        var zoneid = null;
        if ($("#hfzoneid").val() != null && $("#hfzoneid").val() != "" && $("#hfzoneid").val() != undefined) {
            zoneid = $("#hfzoneid").val();
        }
        else {
            alert("Something went wrong pleas try again.");
        }
        var data = {
            ZoneId: zoneid,
            ZoneName: $("#txtZone").val(),
            CarrierId: $("#drlCarrier").val(),
            ShipMentFee: $("#txtShipFee").val(),
            Weight: $("#txtWeight").val(),
            ServiceTypeId: $("#drlServiceType").val(),
            PackingId: $("#drlPackage").val(),
            Length: $("#txtlength").val(),
            Breadth: $("#txtbreadth").val(),
            Height: $("#txtheight").val(),
            Store_Id: '@Model.Store_Id',
        }

        $.ajax({
            type: "POST",
            url: "/Zone/UpdateZone",
            //contentType: "application/json; charset=utf-8",
            //dataType: "json",
            data: data,
            success: function (response) {
                debugger
                if (response.result == 'Redirect')
                    window.location.href = response.url;
                //$("#divSuccess").attr("style='display:visible'");
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }


</script>